interactions:
- request:
    body: grant_type=password&password=840402cerber&username=yugritsai
    headers:
      Authorization:
      - Basic b1ZPcVBmbjhVdHlaVkE6NTN0WTFXZ1AzSnVLeE5CVC1BeFlhVFdLZU1DeTJ3
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"access_token": "345659833344-AAkvEyTAkQIzXzkXU6UQSMtFyFbPJw", "token_type":
        "bearer", "expires_in": 3600, "scope": "*"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Clacks-Overhead:
      - GNU Terry Pratchett
      X-Moose:
      - majestic
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '354'
      x-ratelimit-used:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - bearer 345659833344-AAkvEyTAkQIzXzkXU6UQSMtFyFbPJw
    method: GET
    uri: https://oauth.reddit.com/r/trademyway/new?limit=3&raw_json=1
  response:
    body:
      string: '{"kind": "Listing", "data": {"after": null, "dist": 2, "modhash": null,
        "geo_filter": "", "children": [{"kind": "t3", "data": {"author_flair_background_color":
        null, "approved_at_utc": 1623593450, "subreddit": "trademyway", "selftext":
        "\u0026#x200B;", "author_fullname": "t2_4eskxudc", "saved": false, "mod_reason_title":
        null, "gilded": 0, "clicked": false, "title": "Let''s discuss crypto", "link_flair_richtext":
        [], "subreddit_name_prefixed": "r/trademyway", "hidden": false, "pwls": null,
        "link_flair_css_class": null, "downs": 0, "thumbnail_height": null, "top_awarded_type":
        null, "hide_score": false, "name": "t3_nwxpnm", "quarantine": false, "link_flair_text_color":
        "dark", "upvote_ratio": 1.0, "ignore_reports": false, "subreddit_type": "restricted",
        "ups": 1, "total_awards_received": 0, "media_embed": {}, "thumbnail_width":
        null, "author_flair_template_id": null, "is_original_content": false, "user_reports":
        [], "secure_media": null, "is_reddit_media_domain": false, "is_meta": false,
        "category": null, "secure_media_embed": {}, "link_flair_text": null, "can_mod_post":
        true, "score": 1, "approved_by": "yugritsai", "is_created_from_ads_ui": false,
        "author_premium": false, "thumbnail": "self", "edited": 1625476458.0, "author_flair_css_class":
        null, "author_flair_richtext": [], "gildings": {}, "content_categories": null,
        "is_self": true, "mod_note": null, "created": 1623385931.0, "link_flair_type":
        "text", "wls": null, "removed_by_category": null, "banned_by": null, "author_flair_type":
        "text", "domain": "self.trademyway", "allow_live_comments": false, "selftext_html":
        "\u003C!-- SC_OFF --\u003E\u003Cdiv class=\"md\"\u003E\u003Cp\u003E\u0026#x200B;\u003C/p\u003E\n\u003C/div\u003E\u003C!--
        SC_ON --\u003E", "likes": true, "suggested_sort": null, "banned_at_utc": null,
        "view_count": null, "archived": false, "no_follow": false, "spam": false,
        "is_crosspostable": true, "pinned": false, "over_18": true, "all_awardings":
        [], "awarders": [], "media_only": false, "can_gild": false, "removed": false,
        "spoiler": false, "locked": false, "author_flair_text": null, "treatment_tags":
        [], "rte_mode": "richtext", "visited": false, "removed_by": null, "num_reports":
        0, "distinguished": null, "subreddit_id": "t5_4kxvvm", "mod_reason_by": null,
        "removal_reason": null, "link_flair_background_color": "", "id": "nwxpnm",
        "is_robot_indexable": true, "report_reasons": [], "author": "yugritsai", "discussion_type":
        null, "num_comments": 3, "send_replies": true, "whitelist_status": null, "contest_mode":
        false, "mod_reports": [], "author_patreon_flair": false, "approved": true,
        "author_flair_text_color": null, "permalink": "/r/trademyway/comments/nwxpnm/lets_discuss_crypto/",
        "parent_whitelist_status": null, "stickied": false, "url": "https://www.reddit.com/r/trademyway/comments/nwxpnm/lets_discuss_crypto/",
        "subreddit_subscribers": 1, "created_utc": 1623357131.0, "num_crossposts":
        0, "media": null, "is_video": false}}, {"kind": "t3", "data": {"author_flair_background_color":
        null, "approved_at_utc": 1623593486, "subreddit": "trademyway", "selftext":
        "A place for members of r/trademyway to chat with each other", "author_fullname":
        "t2_4eskxudc", "saved": false, "mod_reason_title": null, "gilded": 0, "clicked":
        false, "title": "r/trademyway Lounge", "link_flair_richtext": [], "subreddit_name_prefixed":
        "r/trademyway", "hidden": false, "pwls": null, "link_flair_cs[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer 345659833344-AAkvEyTAkQIzXzkXU6UQSMtFyFbPJw
    method: GET
    uri: https://oauth.reddit.com/comments/nwxpnm/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        null, "geo_filter": "", "children": [{"kind": "t3", "data": {"author_flair_background_color":
        null, "approved_at_utc": 1623593450, "subreddit": "trademyway"[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer 345659833344-AAkvEyTAkQIzXzkXU6UQSMtFyFbPJw
    method: GET
    uri: https://oauth.reddit.com/comments/nwxiu7/?limit=2048&sort=confidence&raw_json=1
  response:
    body:
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        null, "geo_filter": "", "children": [{"kind": "t3", "data": {"author_flair_background_color":
        null, "approved_at_utc": 1623593486, "subreddit": "trademyway"[...]
- request:
    body: '{"author": "trademyway", "status": "active"}'
    headers:
      Authorization:
      - Basic MTox
      Content-Type:
      - application/json
    method: PUT
    uri: http://127.0.0.1:5000/sources/stats/reddit.com
  response:
    body:
      string: "{\n  \"detail\": \"Scrapy spider reddit.com was not found in data sources.\",\n
        \ \"status\": 404,\n  \"title\": \"Not Found\",\n  \"type\": \"about:blank\"\n}\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: NOT FOUND
version: 1
