interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.finance.yahoo.com/news/nio-stock-touches-alltime-highs-after-doubling-ev-deliveries-to-a-new-monthly-record-165054298.html
  response:
    body:
      string: "<!doctype html><html id=atomic class=\"Fz(62.5%) Pos(r) desktop bktfinance-CA-en-CA-def
        ua-chrome ua-87.0\" lang=en-CA><head><script>\n        window.performance.mark('PageStart');\n
        \       document.documentElement.className += ' JsEnabled jsenabled';\n        /**\n
        \       * Empty darlaOnready method, to avoid JS error.\n        * This can
        happen when Async Darla JS file is loaded earlier than Darla Proxy JS.\n        *
        This method will be overridden by Darla Proxy\n        */\n        window.darlaOnready
        = function() {};\n        </script><title>NIO hits all-time highs after record
        electric vehicle deliveries</title><meta http-equiv=content-type content=\"text/html,
        charset=utf-8\"><meta http-equiv=x-dns-prefetch-control content=on><meta http-equiv=X-UA-Compatible
        content=chrome=1><meta name=\"oath:guce:consent-host\" content=\"guce.yahoo.com\"><meta
        name=\"news_keywords\" content=\"American depository shares, electric car\"
        /><meta name=\"twitter:title\" content=\"NIO stock touches all-time highs
        after doubling EV deliveries to a new monthly record\" /><meta property=\"og:title\"
        content=\"NIO stock touches all-time highs after doubling EV deliveries to
        a new monthly record\" /><meta property=\"al:android:url\" content=\"yfinance://article/740c297d-bdeb-34ab-8000-2b3c8fdb5731\"
        /><meta property=\"og:url\" content=\"https://ca.finance.yahoo.com/news/nio-stock-touches-alltime-highs-after-doubling-ev-deliveries-to-a-new-monthly-record-165054298.html\"
        /><link rel=\"amphtml\" href=\"https://ca.finance.yahoo.com/amphtml/news/nio-stock-touches-alltime-highs-after-doubling-ev-deliveries-to-a-new-monthly-record-165054298.html\"
        /><meta name=\"twitter:description\" content=\"Chinese electric car maker
        NIO hit all-time intraday highs on Monday after doubling its deliveries in
        October to a new monthly record.\" /><meta name=\"description\" content=\"Chinese
        electric car maker NIO hit all-time intraday highs on Monday after dou[...]
