interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.agupdate.com/search/?k=%22corn%22&l=10&app%5B0%5D=editorial&o=7450
  response:
    body:
      string: "\r\n  \n\n<!DOCTYPE html>\r\n        <html lang=\"en\">\r\n        <head>\n<base
        href=\"https://www.agupdate.com/content/tncms/live/\" />\n<meta name=\"keywords\"
        content=\"news, local, information, search, find, looking for\" />\n<meta
        name=\"description\" content=\"Search news and topics on AgUpdate.com\" />\n<meta
        name=\"author\" content=\"AgUpdate\" />\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n<meta name=\"apple-mobile-web-app-capable\" content=\"yes\"
        />\n<meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black-translucent\"
        />\n<meta property=\"og:type\" content=\"website\" />\n<meta property=\"og:url\"
        content=\"https://www.agupdate.com/search/\" />\n<meta property=\"og:title\"
        content=\"Search\" />\n<meta property=\"og:description\" content=\"Search
        news and topics on AgUpdate.com\" />\n<meta property=\"og:site_name\" content=\"AgUpdate\"
        />\n<meta property=\"og:section\" content=\"Ag UPDATE : A leader in agriculture
        and farming news\" />\n<link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.6.3/css/all.css\"/>\n<link
        rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato&amp;display=swap\"/>\n<link
        rel=\"stylesheet preload\" as=\"style\" href=\"https://bloximages.chicago2.vip.townnews.com/agupdate.com/shared-content/art/tncms/templates/libraries/flex/components/bootstrap/resources/styles/bootstrap.min.44f4ed00052aeaf66307fd409db0d101.css\"/>\n<link
        rel=\"stylesheet preload\" as[...]
