interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ussec.org/ussec-china-aquaculture-program-conducted-webinar-promote-ssap-bap/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\"
        />\n<meta name=\"viewport\" content=\"width=device-width\" />\n<script type=\"text/javascript\">\n\tif((window.devicePixelRatio===undefined?1:window.devicePixelRatio)>1)\n\t\tdocument.cookie='HTTP_IS_RETINA=1;path=/';\n</script>\n<title>USSEC
        China Aquaculture Program Conducted its First Webinar to Promote SSAP &#038;
        BAP - U.S. Soybean Export Council</title>\n<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\"
        />\n<link rel=\"pingback\" href=\"https://ussec.org/xmlrpc.php\" />\n\n\t<!--
        This site is optimized with the Yoast SEO plugin v15.2.1 - https://yoast.com/wordpress/plugins/seo/
        -->\n\t<meta name=\"robots\" content=\"index, follow, max-snippet:-1, max-image-preview:large,
        max-video-preview:-1\" />\n\t<link rel=\"canonical\" href=\"https://ussec.org/ussec-china-aquaculture-program-conducted-webinar-promote-ssap-bap/\"
        />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:type\"
        content=\"article\" />\n\t<meta property=\"og:title\" content=\"USSEC China
        Aquaculture Program Conducted its First Webinar to Promote SSAP &#038; BAP
        - U.S. Soybean Export Council\" />\n\t<meta property=\"og:description\" content=\"USSEC
        conti[...]
