interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.drovers.com/news/nebraska-family-simplifies-feeding-cattle-management-app
  response:
    body:
      string: "<?php>\n<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"content:
        http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf:
        http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#
        \ schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#
        \ skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema#
        \">\n  <head>\n    <meta charset=\"utf-8\" /><script type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"31a9736cc2\",applicationID:\"675072341\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function
        r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var
        i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0;i<n.length;i++)r(n[i]);return
        r}({1:[function(e,t,n){function r(){}functio[...]
