interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kycorn.org/news
  response:
    body:
      string: "<!doctype html>\n<html xmlns:og=\"http://opengraphprotocol.org/schema/\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" lang=\"en-US\"  >\n  <head>\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta
        name=\"viewport\" content=\"initial-scale=1\">\n\n    <!-- This is Squarespace.
        --><!-- jennifer-elwell-4b8r -->\n<base href=\"\">\n<meta charset=\"utf-8\"
        />\n<title>Kentucky Corn Growers Association News &mdash; Kentucky Corn Growers
        Association</title>\n<link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"https://images.squarespace-cdn.com/content/v1/5a0a13de9f07f5184474e073/1512491046794-SL1VPMZJNB4THHA2UCEC/ke17ZwdGBToddI8pDm48kL0xEWUzCLk3Qp7nFLcx1_2oCXeSvxnTEQmG4uwOsdIceAoHiyRoc52GMN5_2H8WpxwujzyDVflz3uO2dyh5MG8F5AmbZm2XmMt5ZYQnUhmTTk53dVSzUI3uaRbO7zYsyQ/favicon.ico\"/>\n<link
        rel=\"canonical\" href=\"https://www.kycorn.org/news\"/>\n<meta property=\"og:site_name\"
        content=\"Kentucky Corn Growers Association\"/>\n<meta property[...]
