interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.canadiancattlemen.ca/cca-reports/cca-reports-leveraging-public-interest-in-agriculture/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\"><script src=\"/cdn-cgi/apps/head/u5539TUfYKO79Nj45fw-p2io97c.js\"></script><script
        type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"fe93da1f7d\",applicationID:\"166767472\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function
        r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var
        i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0[...]
