interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.reuters.com/article/china-economy-trade-meat/update-3-china-2020-meat-imports-close-to-10-mln-tonnes-up-60-on-year-idUSL1N2JP068
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"viewport\" content=\"\
        width=device-width\"/><meta charSet=\"utf-8\"/><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=edge\"/><meta http-equiv=\"x-dns-prefetch-control\" content=\"\
        on\"/><meta name=\"robots\" content=\"index, follow\"/><meta name=\"twitter:site\"\
        \ content=\"@Reuters\"/><meta name=\"twitter:creator\" content=\"@Reuters\"\
        /><meta name=\"twitter:card\" content=\"summary_large_image\"/><meta name=\"\
        msapplication-TileColor\" content=\"#ff8000\"/><meta name=\"msapplication-config\"\
        \ content=\"none\"/><meta name=\"theme-color\" content=\"#ffffff\"/><meta\
        \ property=\"article:publisher\" content=\"https://www.facebook.com/Reuters\"\
        /><link rel=\"dns-prefetch\" href=\"//s1.reutersmedia.net\"/><link rel=\"\
        dns-prefetch\" href=\"//s2.reutersmedia.net\"/><link rel=\"dns-prefetch\"\
        \ href=\"//s3.reutersmedia.net\"/><link rel=\"dns-prefetch\" href=\"//s4.reutersmedia.net\"\
        /><link rel=\"dns-prefetch\" href=\"//static.reuters.com\"/><link rel=\"dns-prefetch\"\
        \ href=\"//www.googletagservices.com\"/><link rel=\"dns-prefetch\" href=\"\
        //www.googletagmanager.com\"/><link rel=\"dns-prefetch\" href[...]
