interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://extension.psu.edu/what-should-you-do-with-spotted-lanternfly-egg-masses
  response:
    body:
      string: "<!DOCTYPE html><!--[if lt IE 7 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie6\"> <![endif]--> <!--[if IE 7 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie7\"> <![endif]--> <!--[if IE 8 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie8\"> <![endif]--> <!--[if IE 9 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie9\"> <![endif]--> <!--[if (gt IE 9)|!(IE)]><!--><html lang=\"en\"\
        \ id=\"top\" class=\"no-js\"> <!--<![endif]--><head><meta http-equiv=\"Content-Type\"\
        \ content=\"text/html; charset=utf-8\" /><title>What Should You Do With Spotted\
        \ Lanternfly Egg Masses?</title><meta name=\"description\" content=\"Information\
        \ about locating, identifying, and treating egg masses.\" /><meta name=\"\
        keywords\" content=\"Penn State Extension, Agriculture, Dairy, Beef, Crops,\
        \ Food Safety, Nutrition, Business Management, Natural Gas, Renewable Energy,\
        \ Forest Management, Water, Cooperative Extension, University Park, Pennsylvania\"\
        \ /><meta name=\"robots\" content=\"INDEX,FOLLOW\" /><link rel=\"icon\" href=\"\
        https://extension.psu.edu/media/favicon/default/favicon.png\" type=\"image/x-icon\"\
        \ /><link rel=\"shortcut icon\" href=\"https://extension.psu.edu/media/favicon/default/favicon.png\"\
        \ type=\"image/x-icon\" /><link rel=\"stylesheet\" type=\"text/css\" media=\"\
        all\" href=\"https://extension.psu.edu/media/po_compressor/f023b01a25192483d872e2f7280ea19c.css\"\
        \ /><link rel=\"stylesheet\" type=\"text/css\" media=\"print\" href=\"https://extension.psu.edu/media/po_comp[...]
