interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stocktwits.com/api/2/streams/symbol/PKG.json?filter=top&limit=50
  response:
    body:
      string: "{\"response\":{\"status\":200},\"symbol\":{\"id\":6805,\"symbol\":\"PKG\",\"title\":\"Packaging
        Corp. of America\",\"aliases\":[],\"is_following\":false,\"watchlist_count\":669,\"has_pricing\":true},\"cursor\":{\"more\":true,\"since\":420444898,\"max\":414603147},\"messages\":[{\"id\":420444898,\"body\":\"
        $PKG Look at this! Profit Factor of 3 and trade profitability of 80%. 10 trades
        executed and buy signal in place. 15 minute chart\",\"created_at\":\"2021-12-24T15:08:31Z\",\"user\":{\"id\":6002274,\"username\":\"SophiaBrazan\",\"name\":\"SophiaBrazan\",\"avatar_url\":\"https://avatars.stocktwits.com/production/6002274/thumb-1639684002.png\",\"avatar_url_ssl\":\"https://avatars.stocktwits.com/production/6002274/thumb-1639684002.png\",\"join_date\":\"2021-10-20\",\"official\":false,\"identity\":\"User\",\"classification\":[],\"followers\":2,\"following\":3,\"ideas\":246,\"watchlist_stocks_count\":0,\"like_count\":2,\"plus_tier\":\"\",\"premium_room\":\"\",\"trade_app\":false,\"trade_status\":null},\"source\":{\"id\":2269,\"title\":\"StockTwits
        Web\",\"url\":\"https://stocktwits.com\"},\"symbols\":[{\"id\":6805,\"symbol\":\"PKG\",\"title\":\"Packaging
        Corp. of America\",\"aliases\":[],\"is_following\":false,\"watchlist_count\":669,\"has_pricing\":true}],\"mentioned_users\":[],\"entities\":{\"chart\":{\"thumb\":\"https://charts.stocktwits.com/production/small_420444898.png\",\"large\":\"https://charts.stocktwits.com/production/large_420444898.png\",\"original\":\"https://charts.stocktwits.com/production/original_420444898.png\",\"url\":\"https://charts.stocktwits.com/production/original_420444898.png\"},\"sentiment\":null}},{\"id\":418902423,\"body\":\"$PKG
        [Packaging Corp of America]: Deutsche Bank Maintains Hold Lowers Price Target
        $135 --&gt; 129 \\n \\n \\nSign-up free for beta ver.:https://app.jarvisalerts.com
        \\ncharts: courtesy of finviz\",\"created_at\":\"2021-12-20T14:00:38Z\",\"user\":{\"id\":1471971,\"username\":\"JarvisAlerts\",\"name\":\"Jarvis
        Alerts\",\"avatar_url\":\"https://avatars.stocktwits.com/production/1471971/thumb-1616611512.png\",\"avatar_url_ssl\":\"https://avatars.stocktwits.com/production/1471971/thumb-1616611512.png\",\"join_date\":\"2018-04-15\",\"official\":false,\"identity\":\"User\",\"classification\":[],\"followers\":3593,\"following\":2,\"ideas\":82603,\"watchlist_stocks_count\":123,\"like_count\":903,\"plus_tier\":\"month\",\"premium_room\":\"\",\"trade_app\":false,\"trade_status\":null},\"source\":{\"id\":5141,\"title\":\"TestApplication\",\"url\":\"http://localhost.com\"},\"symbols\":[{\"id\":6805,\"symbol\":\"PKG\",\"title\":\"Packaging
        Corp. of America\",\"aliases\":[],\"is_following\":false,\"watchlist_count\":669,\"has_pricing\":true}],\"links\":[{\"title\":\"Jarvis-Alerts\",\"url\":\"https://app.jarvisalerts.com\",\"shortened_url\":\"https://app.jarvisalerts.com\",\"shortened_expanded_url\":\"app.jarvisalerts.com\",\"description\":\"We
        bring quant-like sophistication to retail traders. We are on a mission to
        empower retail traders.\",\"image\":\"http://jarvisalerts.com/img/jarvis-whatsapp-img.png\",\"created_at\":\"2021-12-20T14:00:38Z\",\"video_url\":null,\"source\":{\"name\":\"Jarvisalerts\",\"website\":\"https://app.jarvisalerts.com\"}}],\"mentioned_users\":[],\"entities\":{\"chart\":{\"thumb\":\"https://charts.stocktwits.com/production/small_418902423.\",\"large\":\"https://charts.stocktwits.com/production/large_418902423.\",\"original\":\"https://charts.stocktwits.com/production/original_418902423.\",\"url\":\"https://charts.stocktwits.com/production/original_418902423.\"},\"sentiment\":null}},{\"id\":418896255,\"body\":\"Packaging
        Co. of America&#39;s PT cut by Deutsche Bank Aktieng[...]
