interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fieldcropnews.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if IE 7]>\n<html class=\"ie ie7\" lang=\"en-US\"\
        >\n<![endif]-->\n<!--[if IE 8]>\n<html class=\"ie ie8\" lang=\"en-US\">\n\
        <![endif]-->\n<!--[if IE 9]>\n<html class=\"ie ie9\" lang=\"en-US\">\n<![endif]-->\n\
        <!--[if gte IE 9]><!-->\n<html lang=\"en-US\">\n<!--<![endif]-->\n<head>\n\
        \t<meta charset=\"UTF-8\">\n\t<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\"\
        >\n\t<link rel=\"pingback\" href=\"https://fieldcropnews.com/xmlrpc.php\"\
        >\n\t<title>Field Crop News</title>\n\n<!-- All In One SEO Pack 3.7.1[417,549]\
        \ -->\n<meta name=\"description\"  content=\"Acreage of dry beans increased\
        \ approximately 20% over 2019, and 50% over 2018. Total acreage of dry beans\
        \ insured by Agricorp in 2020 was 157,610 acres (Table\" />\n\n<meta name=\"\
        keywords\"  content=\"cereal rye,organic no-till,roller crimper,soybeans,bt\
        \ resistant rootworm,mitigation measures,presentations and videos,rootworm,rootworm\
        \ video,2020,corn,don,ontario,survey,bt,bt resistance,bt rootworm,corn rootworm,feed,ccpc,long\
        \ term responsible use of bt corn,resistance management,bt hybrids,bt trait\
        \ table,european corn borer,western bean cutworm,knolls,management,ph,productivity,soil,topsoil,carbon,manure,nutrients,frost,prussic\
        \ acid,sorghum,sorghum-sudangrass,sudangrass,forages,grass,jointing,non-jointing\"\
        \ />\n<link rel=\"next\" href=\"https://fieldcropnews.com/page/2/\" />\n\n\
        <script type=\"application/ld+json\" class=\"aioseop-schema\">{\"@context\"\
        :\"https://schema.org\",\"@graph\":[{\"@type\":\"Organization\",\"@id\":\"\
        https://fieldcropnews.com/#organization\",\"url\":\"https://fieldcropnews.com/\"\
        ,\"name\":\"Field Crop News\",\"sameAs\":[]},{\"@type\":\"WebSite\",\"@id\"\
        :\"https://fieldcropnews.com/#website\",\"url\":\"https://fieldcropnews.com/\"\
        ,\"name\":\"Field Crop News\",\"publisher\":{\"@id\":\"https://fieldcropnews.com/#organization\"\
        },\"potentialAction\":{\"@type\":\"SearchAction\",\"target\":\"https://fieldcropnews.com/?s={search_term_string}\"\
        ,\"query-input\":\"required name=search_term_string\"}},{\"@type\":\"WebPage\"\
        ,\"@id\":\"https://fieldcropnews.com#webpage\",\"url\":\"https://fieldcropnews.com\"\
        ,\"inLanguage\":\"en-US\",\"name\":\"Field Crop News\",\"isPartOf\":{\"@id\"\
        :\"https://fieldcropnews.com/#website\"},\"breadcrumb\":{\"@id\":\"https://fieldcropnews.com#breadcrumblist\"\
        },\"description\":\"Ontario Ministry of Agriculture, Food and Rural Affairs\
        \  in partnership with the University of Guelph\",\"about\":{\"@id\":\"https://fieldcropnews.com/#organization\"\
        }},{\"@type\":\"BreadcrumbList\",\"@id\":\"https://fieldcropnews.com#breadcrumblist\"\
        ,\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"item\":{\"\
        @type\":\"WebPage\",\"@id\":\"https://fieldcropnews.com/\",\"url\":\"https://fieldcropnews.com/\"\
        ,\"name\":\"Field Crop News\"}}]}]}</script>\n<link rel=\"canonical\" href=\"\
        https://fieldcropnews.com/\" />\n<!-- All In One SEO Pack -->\n<link rel='dns-prefetch'\
        \ href='//fonts.googleapis.com' />\n<link rel='dns-prefetch' href='//s.w.org'\
        \ />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Field Crop\
        \ News &raquo; Feed\" href=\"https://fieldcropnews.com/feed/\" />\n<link rel=\"\
        alternate\" type=\"application/rss+xml\" title=\"Field Crop News &raquo; Comments\
        \ Feed\" href=\"https://fieldcropnews.com/comments/feed/\" />\n\t\t<script\
        \ type=\"text/javascript\">\n\t\t\twindow._wpemojiSettings = {\"baseUrl\"\
        :\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.0\\/72x72\\/\",\"ext\"\
        :\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.0\\\
        /svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"https:\\/\\/fieldcropnews.com\\\
        /wp-includes\\/js\\/wp-emoji-release.min.js?ver=5.5.3\"}};\n\t\t\t!function(e,a,t){var\
        \ r,n,o,i,p=a.createElement(\"canvas\"),s=p.getContext&&p.getContext(\"2d\"\
        );function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var\
        \ r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function\
        \ l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline=\"top\",s.font=\"\
        600 32px Arial\",e){case\"flag\":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case\"\
        emoji\":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function\
        \ d(e){var t=a.createElement(\"scr[...]
