interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.dailyfx.com/forex/analyst_picks/todays_picks/michael_boutros/2020/11/19/US-Dollar-Technical-Price-Setups-EUR-USD-AUD-MXN-Trade-Forecast-MBTS11.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <title>US\
        \ Dollar Technical Price Setups: EUR/USD, AUD/USD &amp; USD/MXN</title>\n\
        <meta charset=\"UTF-8\">\n<meta name=\"description\" content=\"An update on\
        \ technical setups we&#039;ve been tracking in Euro, Aussie &amp; Peso. These\
        \ are the targets and invalidation levels that matter heading into the close\
        \ of the week.\"/>\n<meta property=\"og:title\" content=\"US Dollar Technical\
        \ Price Setups: EUR/USD, AUD/USD &amp; USD/MXN\"/>\n<meta property=\"og:description\"\
        \ content=\"An update on technical setups we&#039;ve been tracking in Euro,\
        \ Aussie &amp; Peso. These are the targets and invalidation levels that matter\
        \ heading into the close of the week.\"/>\n<meta property=\"og:image\" content=\"\
        https://a.c-dn.net/b/0VECvO/headline_shutterstock_557289934.jpg\" />\n<meta\
        \ property=\"og:image:width\" content=\"700\" />\n<meta property=\"og:image:height\"\
        \ content=\"395\" />\n    \n    <meta property=\"og:url\" content=\"https://www.dailyfx.com/forex/analyst_picks/todays_picks/michael_boutros/2020/11/19/US-Dollar-Technical-Price-Setups-EUR-USD-AUD-MXN-Trade-Forecast-MBTS11.html\"\
        \ />\n    <meta property=\"og:site_name\" content=\"DailyFX\" />\n    <meta\
        \ property=\"og:type\" content=\"article\" />\n<meta name=\"author\" content=\"\
        Michael Boutros\"/>\n<meta name=\"robots\" content=\"index, follow, max-snippet:-1,\
        \ max-image-preview:large, max-video-preview:-1\">\n<meta name=\"google-site-verification\"\
        \ content=\"0-rnf9_wDUYCh3WOzuYTjV0rAOyPuglxX7Tku55MZoQ\"/>\n<meta name=\"\
        msvalidate.01\" content=\"BF031EF4E17AE7437FD8C985581BF048\"/>\n<meta http-equiv=\"\
        X-UA-Compatible\" content=\"IE=edge\"/>\n<meta name=\"viewport\" content=\"\
        width=device-width, initial-scale=1,  minimum-scale=1, user-scalable=0, shrink-to-fit=no\"\
        />\n<link rel=\"canonical\" href=\"https://www.dailyfx.com/forex/analyst_picks/todays_picks/michael_boutros/2020/11/19/US-Dollar-Technical-Price-Setups-EUR-USD-AUD-MXN-Trade-Forecast-MBTS11.html\"\
        />\n\n<link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://a.c-dn.net/b/3SYEED/touch-icon-iphone.png\"\
        />\n\n<link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://a.c-dn.net/b/1ztAmA/touch-icon-ipad.png\"\
        />\n\n<link rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"ht[...]
