interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wireapi.reuters.com/v7/feed/url/www.reuters.com/markets/agriculture?until=%7Buntil%7D
  response:
    body:
      string: '{"wire_id":"chan:6ak3g7px","wire_name":"Agriculture","wire_description":"Agriculture
        coverage from Reuters.","wire_type":"wirefeed","wireitems":[{"wireitem_id":"1610683220062636000","wireitem_cid":"story:L4N2JQ0WO","wireitem_type":"story","templates":[{"cid":"header-0","template":"story_feed_header","type":"header","title":"Energy","template_action":{"type":"wirefeed","api_path":"/feed/rcom/us/wirefeed/chan:6ndme3yx","url":"https://www.reuters.com/wirefeed/chan:6ndme3yx"},"config_params":[{"key":"feeddings_icon","value":"hashtag|f103","revision":1.529443130909278E9,"is_default":1}]},{"cid":"story:L4N2JQ0WO","template":"story_basic","template_action":{"type":"article","api_path":"/feed/rcom/us/article/news:USL4N2JQ0WO","url":"https://www.reuters.com/article/indonesia-palmoil-biodiesel/indonesias-pertamina-conducts-trials-on-100-palm-oil-biodiesel-and-jet-fuel-idUSL4N2JQ0WO"},"story":{"usn":"USL4N2JQ0WO","updated_at":"2021-01-15T04:00:20Z","hed":"Indonesia''s
        Pertamina conducts trials on 100% palm oil biodiesel and jet fuel ","lede":"Indonesia''s
        state energy company PT Pertamina said on Friday it had started trials on
        diesel made entirely out of palm oil at its Cilacap refinery on Java island
        after conducting trials on jet fuel late last year.","dateline":"JAKARTA,
        Jan 15 (Reuters)"},"type":"story"},{"cid":"share_bar","template":"share_bar","type":"section","share_url":"https://reut.rs/3sBHikW","share_cid":"story:L4N2JQ0WO","template_action":{"type":"article","api_path":"/feed/rcom/us/article/news:USL4N2JQ0WO","url":"https://www.reuters.com/article/indonesia-palmoil-biodiesel/indonesias-pertamina-conducts-trials-on-100-palm-oil-biodiesel-and-jet-fuel-idUSL4N2JQ0WO"},"detail_action":{"type":"detail","api_path":"/feed/rcom/us/video/watch/news:USL4N2JQ0WO","url":""},"updated_at":"2021-01-15T04:00:20Z"}],"adjunct_behavior":"UNKNOWN","async_behavior":"NONE"},{"wireitem_id":"1610675175007726001","wireitem_cid":"ad:1610675175007726001","wireitem_type":"ad","templates":[{"cid":"ad-0","template":"ad_basic","type":"ad","advert_info":{"advert_zone":"/wiredefault","advert_params":[]}}],"adjunct_behavior":"UNKNOWN","async_behavior":"DISPLAY_WHILE_LOADING"},{"wireitem_id":"1610675175007726000","wireitem_cid":"story:L1N2JQ03A","wireitem_type":"story","templates":[{"cid":"header-0","template":"story_feed_header","type":"header","title":"Healthcare","template_action":{"type":"wirefeed","api_path":"/feed/rcom/us/wirefeed/chan:2xuk2rpn","url":"https://www.reuters.com/wirefeed/chan:2xuk2rpn"},"config_params":[{"key":"feeddings_icon","value":"hashtag|f103","revision":1.5294431309[...]
