interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gurufocus.com/stock/TWTR/article
  response:
    body:
      string: "<!doctype html>\n<html data-n-head-ssr data-n-head=\"\">\n<head data-n-head=\"\">\n<title
        data-n-head=\"true\">TWTR Stock News and Research Articles | Twitter Inc -
        GuruFocus.com</title><meta data-n-head=\"true\" charset=\"utf-8\"><meta data-n-head=\"true\"
        name=\"viewport\" content=\"width=device-width, initial-scale=1\"><meta data-n-head=\"true\"
        data-hid=\"description\" name=\"description\" content=\"TWTR Stock News and
        Research Articles - Twitter Inc : latest news, headlines and research articles.\"><meta
        data-n-head=\"true\" data-hid=\"keywords\" name=\"keywords\" content=\"TWTR,
        Twitter Inc ,  Stock, headlines\"><link data-n-head=\"true\" rel=\"icon\"
        type=\"image/x-icon\" href=\"/favicon.ico\"><script data-n-head=\"true\" src=\"https://www.googletagmanager.com/gtag/js?id=AW-1005049228\"
        async=\"true\"></script><script data-n-head=\"true\" src=\"//www.googletagmanager.com/gtm.js?id=GTM-K799DP4&amp;l=dataLayer\"
        async=\"true\"></script><noscript data-n-head=\"true\" data-hid=\"gtm-noscript\"
        pbody=\"true\"><iframe src=\"//www.googletagmanager.com/ns.html?id=GTM-K799DP4&l=dataLayer\"
        height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript><link
        rel=\"stylesheet\" href=\"/_nuxt/2c84c694bdc6945d7736.1607718149721.css\"><link
        rel=\"stylesheet\" href=\"/_nuxt/1074b5f1c7f1f1670b70.1607718149721.css\">\n</head>\n<body
        data-n-head=\"\">\n<div data-server-rendered=\"true\" id=\"__nuxt\"><div id=\"__layout\"><div
        class=\"app-wrapper purge-css-ignore\"><div class=\"main-container\"><div
        class=\"navbar\"><div class=\"navbar-brand\"><a href=\"https://www.gurufocus.com\"><img
        src=\"//static.gurufocus.com/images/logo_small_new.png\" alt=\"Logo\"></a>
        <button type=\"button\" class=\"el-button navbar-collapse-button square el-button--default
        el-button--mini\"><span><i class=\"gf-icon-bars\"></i></span></button></div>
        <div class=\"navbar-item navbar-right-item hidden-md-and-down\"><label class=\"switch\"><input
        type=\"checkbox\"> <span class=\"d-slider round\"></span></label></div> <div
        class=\"navbar-item\">\nHome\n<div class=\"navbar-dropdown\"><a target=\"_blank\"
        href=\"https://www.gurufocus.com\" class=\"navbar-link\">\nHomepage\n</a><a
        target=\"_blank\" href=\"https://www.gurufocus.com/membership.php\" class=\"navbar-link\">\nMembership
        Levels\n</a><a target=\"_blank\" href=\"https://www.gurufocus.com/flarum/t/general-discussion\"
  [...]
