interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.zacks.com/stock/research/WTRH/all-news/zacks
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<!-- Faster page load hack
        -->\n<!--[if IE]><![endif]-->\n\n<head>\n<!-- Begin: head -->\n<!-- z2_head_module
        start -->\n<!--//www.zacks.com/stock/research/WTRH/all-news/zacks--><meta
        charset=\"utf-8\" />\n\n\n<!-- Preload css Font file --> \n<link rel=\"preload\"
        as=\"style\" type=\"text/css\" href=\"https://staticx.zacks.com/css/zacks/css2/fa/font-awesome.min.css?v=20210129\"
        onload=\"this.rel='stylesheet'\"/>\n\n<!-- CSS Font file for firefox (***
        firefox doesnot support preload ***) -->\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://staticx.zacks.com/css/zacks/css2/fa/font-awesome.min.css?v=20210129\"
        />\n\n<!-- Combined and Minified CSS file for all generator pages --> \n<link
        rel=\"preload\" as=\"style\" href=\"https://staticx.zacks.com/min/z2-min.css?v=20210129\"
        onload=\"this.rel='stylesheet'\"/>\n\n<!-- Combined and Minified CSS file
        for all generator pages --> \n<link rel=\"stylesheet\" href=\"https://staticx.zacks.com/min/z2-min.css?v=20210129\"
        />\n\n<style>\nhtml{font-size:100%;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html
        body{font-size:62.5%;background-color:#fafafa;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}section
        footer{padding:6px 0}.align_left,.alpha{text-align:left}.align_right{text-align:right}.align_center{text-align:center}.float_left{float:left}.float_right{float:right}\n</style>\n\n<style
        type=\"text/css\" data-tippy-stylesheet>\n.tippy-box[data-theme~=zacks]{min-width:301px;background-color:#fff}.tippy-box[data-theme~=zacks]
        .tippy-content{padding:0!important}\n</style>\n\n<!-- Conditional CSS for
        IE versions -->\n<!--[if lt IE 7]><style type=\"text/css\"> .hide_lte_ie6
        { display:none; } </style><![endif]-->\n<!--[if lte IE 7]><style type=\"text/css\">
        .hide_lte_ie7 { display:none; } </style><![endif]-->\n<!--[if lte IE 8]><style
        type=\"text/css\"> .hide_lte_ie8 { display:none; } </style><![endif]-->\n<!--[if
        lte IE 9]><style type=\"text/css\"> .hide_lte_ie9 { display:none; } </style><![endif]-->\n<!--[if
        IE 10]><style type=\"text/css\"> .hide_lte_ie10 { display:none; } </style><![endif]-->\n<!--[if
        IE]><![endif]-->\n<!-- End conditional CSS for IE versions -->\n\n    <!--
        DC PAGE ID : 26  -->\n    <meta name=\"generator\" content=\"WebGenerator\"
        />\n    <meta name=\"description\" content=\"Looking for stock market analysis
        and research with proves results? Zacks.com offers in-depth financial research
        with over 30years of proven results.\" />\n    <meta name=\"keywords\" content=\"financial
        research, stock market research, investment research, stock research, stock
        market research, market research, industry research, sector research\" />\n
        \   <title>All News for WTRH : Waitr Holdings Inc. - Zacks.com</title>\n    <meta
        name=\"date\" content=\"Mon, 08 Feb 2021 06:22:28\" />\n    <meta name=\"last-modified\"
        content=\"Mon, 08 Feb 2021 06:22:28;\" />\n    <meta http-equiv=\"last-modified\"
        content=\"Mon, 08 Feb 2021 06:22:28\" />\n    <meta property=\"fb:admins\"
        content=\"20922385\" />\n    <meta property=\"article:publisher\" content=\"https://www.facebook.com/ZacksInvestmentResearch\"
        />\n\n\n    <met[...]
