interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ussec.org/soy-news/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\"
        />\n<meta name=\"viewport\" content=\"width=device-width\" />\n<script type=\"text/javascript\">\n\tif((window.devicePixelRatio===undefined?1:window.devicePixelRatio)>1)\n\t\tdocument.cookie='HTTP_IS_RETINA=1;path=/';\n</script>\n<title>News
        - U.S. Soybean Export Council</title>\n<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\"
        />\n<link rel=\"pingback\" href=\"https://ussec.org/xmlrpc.php\" />\n\n\t<!--
        This site is optimized with the Yoast SEO plugin v15.2.1 - https://yoast.com/wordpress/plugins/seo/
        -->\n\t<meta name=\"robots\" content=\"index, follow, max-snippet:-1, max-image-preview:large,
        max-video-preview:-1\" />\n\t<link rel=\"canonical\" href=\"https://ussec.org/soy-news/\"
        />\n\t<link rel=\"next\" href=\"https://ussec.org/soy-news/page/2/\" />\n\t<meta
        property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:type\"
        content=\"article\" />\n\t<meta property=\"og:title\" content=\"News - U.S.
        Soybean Export Council\" />\n\t<meta property=\"og:url\" content=\"https://ussec.org/soy-news/\"
        />\n\t<meta property=\"og:site_name\" content=\"U.S. Soybean Export Council\"
        />\n\t<meta property=\"og:image\" content=\"https://ussec.org/wp-content/uploads/2020/09/news.jpg\"
        />\n\t<meta property=\"og:image:width\" content=\"2560\" />\n\t<meta property=\"og:image:height\"
        content=\"605\" />\n\t<meta name=\"twitter:card\" content=\"summary_large_image\"
        />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\",\"@graph\":[{\"@type\":\"Organization\",\"@id\":\"https://ussec.org/#organization\",\"name\":\"U.S.
        Soybean Export Council\",\"url\":\"https://ussec.org/\",\"sameAs\":[],\"logo\":{\"@type\":\"ImageObject\",\"@id\":\"https://ussec.org/#logo\",\"inLanguage\":\"en-US\",\"url\":\"https://ussec.org/wp-content/uploads/2020/09/apple-touch-icon.png\",\"width\":129,\"height\":129,\"caption\":\"U.S.
        Soybean Export Council\"},\"image\":{\"@id\":\"https://ussec.org/#logo\"}},{\"@type\":\"WebSite\",\"@id\":\"https://ussec.org/#website\",\"url\":\"https://ussec.org/\",\"name\":\"U.S.
        Soybean Export Council\",\"description\":\"\",\"publisher\":{\"@id\":\"https://ussec.org/#organization\"},\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":\"https://ussec.org/?s={search_term_string}\",\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ImageObject\",\"@id\":\"https://ussec.org/soy-news/#primaryimage\",\"inLanguage\":\"en-US\",\"url\":\"https://ussec.org/wp-content/uploads/2020/09/news.jpg\",\"width\":2560,\"height\":605},{\"@type\":[\"WebPage\",\"CollectionPage\"],\"@id\":\"https://ussec.org/soy-news/#webpage\",\"url\":\"https://ussec.org/soy-news/\",\"name\":\"News
        - U.S. Soybean Export Council\",\"isPartOf\":{\"@id\":\"https://ussec.org/#website\"},\"primaryImageOfPage\":{\"@id\":\"https://ussec.org/soy-news/#primaryimage\"},\"datePublished\":\"2020-08-24T19:35:18+00:00\",\"dateModified\":\"2020-09-29T20:40:46+00:00\",\"breadcrumb\":{\"@id\":\"https://ussec.org/soy-news/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https://ussec.org/soy-news/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https://ussec.org/soy-news/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"item\":{\"@type\":\"WebPage\",\"@id\":\"https://ussec.org/\",\"url\":\"https://ussec.org/\",\"name\":\"Home\"}},{\"@type\":\"ListItem\",\"position\":2,\"item\":{\"@type\":\"WebPage\",\"@id\":\"https://ussec.org/soy-news/\",\"url\":\"https://ussec.org/soy-news/\",\"name\":\"News\"}}]}]}</script>\n\t<!--
        / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch' href='//js.hs-scripts.com'
        />\n<link rel='dns-prefetch' href='//use.typekit.net' />\n<link rel='dns-prefetch'
        href='//s.w.org[...]
