interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ilcorn.org/news-and-media/current-news
  response:
    body:
      string: "\n<!DOCTYPE html>\n\n<html data-wf-page=\"58d407b1f891fd347e519385\"
        data-wf-site=\"58d407b1f891fd347e519392\">\n<head>\n  <meta charset=\"utf-8\">\n
        \ \n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \ <meta name=\"generator\" content=\"Webflow\">\n\n  <title>Today's News at
        Illinois Corn Growers Association</title>\n\n\t<link rel=\"canonical\" href=\"https://ilcorn.org/news-and-media/current-news\"
        />\n\t<link href=\"https://ilcorn.org/image/178/100/fav.png\" rel=\"shortcut
        icon\" type=\"image/x-icon\" />\n\n\t<meta name=\"cybernautic-editor-version\"
        content=\"1.6.0\" />\n\t<meta name=\"cybernautic-editor-instance\" content=\"ilcorn.org\"
        />\n\n\t<meta name=\"google-site-verification\" content=\"VKoEDOOfcwm5oJjSDAQAYdZL_bXgnfPZI4pLjN4gLvk\"
        />\n\n\t<meta name=\"msvalidate.01\"[...]
