interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.agriculture.com/crops/corn
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 9 ]>    <html class=\"lt-ie9 no-js\"
        \ lang=\"en\" dir=\"ltr\"> <![endif]-->\n<!--[if gte IE 9]><!--> <html class=\"no-js\"
        \ lang=\"en\" dir=\"ltr\" > <!--<![endif]-->\n  <head>\n    <!--[if IE]><![endif]-->\n<link
        rel=\"dns-prefetch\" href=\"//cdnjs.cloudflare.com\" />\n<link rel=\"dns-prefetch\"
        href=\"//admin.brightcove.com\" />\n<link rel=\"dns-prefetch\" href=\"//cdn.cookielaw.org\"
        />\n<link rel=\"dns-prefetch\" href=\"//geolocation.onetrust.com\" />\n<link
        rel=\"dns-prefetch\" href=\"//community.agriculture.com\" />\n<link rel=\"dns-prefetch\"
        href=\"//ajax.googleapis.com\" />\n<link rel=\"dns-prefetch\" href=\"//meredith-com.videoplayerhub.com\"
        />\n<link rel=\"dns-prefetch\" href=\"//karma.mdpcdn.com\" />\n<meta charset=\"utf-8\"
        />\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" /><script type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"55db0cb698\",applicationID:\"608121443\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function
        r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var
        i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0;i<n.length;i++)r(n[i]);return
        r}({1:[function(e,t,n){function r(){}functio[...]
