interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://futures.tradingcharts.com/news/futures/USDA___AMS__Intl_Wholesale_Market_Vegetable_Report___Toronto__Canada___2018_12_31__usdanp193f36z.html
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\n\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>USDA - AMS: Intl Wholesale
        Market Vegetable Report - Toronto, Canada\n (2018-12-31)</title>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta name=\"description\" content=\"Commodity
        futures news: USDA - AMS: Intl Wholesale Market Vegetable Report - Toronto,
        Canada\n (2018-12-31), updated 0000-00-00 00:00:00. Watch for more news articles,
        provided throughout the day courtesy of TradingCharts\" />\n<meta name=\"keywords\"
        content=\"Commodity News, futures news, tfc, news, fwn, financial world news,
        dow jones, usda news \" />\n<meta name=\"viewport\" content=\"width=device-width\">\n<!--
        Google Tag Manager -->\n<script>\nvar InResponsiveTest2020 = 'Yes'; // for
        use in GTM/GA to ID if user is in the futures responsive test.\n(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-TR7J3SC');</script>\n<!--
        End Goog[...]
