interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.iowacorn.org/about/news/?page=33
  response:
    body:
      string: "<!DOCTYPE html>\r\n\t<html>\r\n\t\t<head>\r\n\t\t\t<meta charset=\"utf-8\"
        />\r\n\t\t\t<title>Ag Industry News and Events - Page 33 | Iowa Corn</title>\r\n\t\t\t<meta
        name=\"description\" content=\"Stay up to date on agriculture industry news
        and events, Iowa Corn, ICGA and ICPB.\" />\r\n\t\t\t<meta name=\"language\"
        content=\"en-us\" />\r\n\t\t\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\r\n\t\t\t<meta name=\"copyright\" content=\"Copyright
        2020 Iowa Corn Growers Association. All rights reserved.\" />\r\n\t\t\t<meta
        name=\"robots\" content=\"index,follow\" />\r\n\t\t\t<meta name=\"googlebot\"
        content=\"index,follow\" />\r\n\t\t\t<meta name=\"msnbot\" content=\"index,follow\"
        />\r\n\t\t\t<link rel=\"canonical\" href=\"https://www.iowacorn.org/about/news/?page=33\"
        />\r\n\t\t\t<link rel=\"prev\" href=\"https://www.iowacorn.org/about/news/?page=32\"
        />\r\n\t\t\t<link rel=\"apple-touch-icon\" href=\"/20201111010508/assets/images/webclip.png\"
        />\r\n\t\t\t<link rel=\"icon\" href=\"/20201111010508/assets/images/webclip.png\"
        />\r\n\t\t\t<link rel=\"shortcut icon\" href=\"/20201111010508/assets/images/favicon.ico\"
        type=\"image/x-icon\" />\r\n\t\t\t<l[...]
