interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.zacks.com/stock/news/421247/moving-average-crossover-alert-waitr
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<!-- Faster page load hack
        -->\n<!--[if IE]><![endif]-->\n\n<head>\n<!-- Begin: head -->\n<!-- z2_comm_head_module_v2
        start -->\n<!--//www.zacks.com/stock/news/421247/moving-average-crossover-alert-waitr--><meta
        charset=\"utf-8\" />\n\n<!-- Preload css Font file --> \n<link rel=\"preload\"
        as=\"style\" type=\"text/css\" href=\"https://staticx.zacks.com/css/zacks/css2/fa/font-awesome.min.css?v=20210129\"
        onload=\"this.rel='stylesheet'\"/>\n\n<!-- CSS Font file for firefox (***
        firefox doesnot support preload ***) -->\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://staticx.zacks.com/css/zacks/css2/fa/font-awesome.min.css?v=20210129\"
        />\n\n<!-- Combined and Minified CSS file for all generator pages --> \n<link
        rel=\"preload\" as=\"style\" href=\"https://staticx.zacks.com/min/z3-min.css?v=20210129\"
        onload=\"this.rel='stylesheet'\"/>\n\n<!-- Combined and Minified CSS file
        for all generator pages --> \n<link rel=\"stylesheet\" href=\"https://staticx.zacks.com/min/z3-min.css?v=20210129\"
        />\n\n<style>\n*{margin:0 auto;padding:0;outline:0 none}.clearfix{zoom:1}.clearfix:after{content:\".\";display:block;height:0;clear:both;visibility:hidden}html{font-size:100%;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html
        body{font-size:62.5%;background-color:#fafafa;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}section
        footer{padding:6px 0}.align_left,.alpha[...]
