interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nasdaq.com/articles/consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"content: http://purl.org/rss/1.0/modules/content/
        \ dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#
        \ rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/
        \ sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos:
        http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema#
        \">\n  <head>\n    <meta charset=\"utf-8\" />\n<meta itemprop=\"acquia_lift:content_title\"
        content=\"Consumer Sector Update for 05/17/2019: WTRH, BABA, AMZN, TROW, WMT,
        MCD, DIS, CVS, KO\" />\n<meta itemprop=\"acquia_lift:content_type\" content=\"article\"
        />\n<meta itemprop=\"acquia_lift:page_type\" content=\"node page\" />\n<meta
        itemprop=\"acquia_lift:context_language\" content=\"en\" />\n<meta itemprop=\"acquia_lift:content_section\"
        content=\"news-and-insights/article\" />\n<meta itemprop=\"acquia_lift:content_keywords\"
        content=\"\" />\n<meta itemprop=\"acquia_lift:post_id\" content=\"5540246\"
        />\n<meta itemprop=\"acquia_lift:content_uuid\" content=\"03aed1f1-b32d-477e-9c26-b6d3d47f1ed3\"
        />\n<meta itemprop=\"acquia_lift:published_date\" content=\"1558099310\" />\n<meta
        itemprop=\"acquia_lift:persona\" content=\"\" />\n<meta itemprop=\"acquia_lift:engagement_score\"
        content=\"1\" />\n<meta itemprop=\"acquia_lift:account_id\" content=\"NASDAQ\"
        />\n<meta itemprop=\"acquia_lift:site_id\" content=\"nasdaq_prod\" />\n<meta
        itemprop=\"acquia_lift:liftAssetsURL\" content=\"https://builder.lift.acquia.com\"
        />\n<meta itemprop=\"acquia_lift:liftDecisionAPIURL\" content=\"https://us-east-1-decisionapi.lift.acquia.com\"
        />\n<meta itemprop=\"acquia_lift:bootstrapMode\" content=\"auto\" />\n<meta
        itemprop=\"acquia_lift:cdfVersion\" content=\"1\" />\n<script src=\"https://builder.lift.acquia.com/lift.js\"
        async></script>\n<script>window.digitalData = {\"pageInstanceID\":\"production:home:articles:consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\",\"page\":{\"pageInfo\":{\"author\":\"MT
        Newswires\",\"breadcrumbs\":[\"home\",\"articles\",\"consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\"],\"destinationURL\":\"https:\\/\\/www.nasdaq.com\\/articles\\/consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\",\"entryURL\":null,\"lang\":\"en\",\"onsiteSearchResults\":null,\"onsiteSearchTerm\":null,\"pageID\":\"home:articles:consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\",\"pageName\":\"consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\",\"pagePathLevel1\":\"articles\",\"pagePathLevel2\":\"articles:consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\",\"pagePathLevel3\":null,\"pagePathLevel4\":null,\"pagePathLevel5\":null,\"publisher\":\"MTNewswires\",\"referringURL\":\"https:\\/\\/www.nasdaq.com\\/api\\/v1\\/news-headlines-fetcher\\/WTRH\\/40\\/8\",\"sysEnv\":null,\"timeStamp\":1607523030,\"refreshDisable\":false,\"customPageName\":null},\"category\":{\"eventType\":null,\"pageType\":\"article-page\",\"videoType\":null,\"primaryCategory\":\"news-and-insights\",\"subCategory\":\"article\"},\"attributes\":{\"adDisplay\":true,\"assetClass\":[\"stocks\"],\"businessUnit\":null,\"campaignParameters\":null,\"industry\":null,\"quoteSymbol\":[\"WTRH\",\"BABA\",\"AMZN\",\"TROW\",\"WMT\"],\"region\":null,\"sponsored\":false,\"topic\":[\"markets\"],\"audience\":null,\"glossaryTerm\":null}},\"user\":[{\"segment\":{\"loginStatus\":\"guest\",\"registrationStatus\":\"anonymous\",\"cookieOptIn\":true,\"termsOptIn\":false,\"offersOptIn\":false,\"eloquaOptIn\":false}}]};</script>\n<meta
        name=\"title\" content=\"Consumer Sector Update for 05/17/2019: WTRH, BABA,
        AMZN, TROW, WMT, MCD, DIS, CVS, KO | Nasdaq\" />\n<link rel=\"canonical\"
        href=\"https://www.nasdaq.com/articles/consumer-sector-update-for-05-17-2019%3A-wtrh-baba-amzn-trow-wmt-mcd-dis-cvs-ko-2019-05-17\"
        />\n<meta name=\"twitter:card\" content=\"summary_large_image\" />\n<meta
        name=\"twitter:site\" content=\"@Nasdaq\" />\n<meta name=\"twitter:title\"
        content=\"Consumer Sector Update for 05/17/2019: WTRH, BABA, AMZN, TROW, WMT,
        MCD, DIS, CVS, KO\" />\n<meta property=\"og:type\" content=\"Article\" />\n<meta
  [...]
