interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.investopedia.com/company-news-4427705
  response:
    body:
      string: "<!DOCTYPE html>\n<html id=\"taxonomy-template_1-0\" class=\"comp taxonomy-2-template\
        \ taxonomy-template taxonomy-layout base-layout mntl-html\" data-ab=\"68,99,70,66,99\"\
        \ data-resource-version=\"1.132.1\" lang=\"en\" data-mantle-resource-version=\"\
        3.12.216\" data-finance-resource-version=\"1.132.1\" data-tracking-container=\"\
        true\">\t\t\t\t\n<!--\n<globe-environment environment=\"prod\" application=\"\
        finance\" dataCenter=\"us-west-2\"/>\n-->\n<head class=\"loc head\">\t\t\t\
        \t\n\t\t\t\t\t\n\t\t\t\t\t<script type=\"text/javascript\"></script>\n\t\t\
        \t\t\t\n\t\t\t\t\t    <link rel=\"preconnect\" href=\"//js-sec.indexww.com\"\
        >\n    <link rel=\"preconnect\" href=\"//tags.crwdcntrl.net\">\n    <link\
        \ rel=\"preconnect\" href=\"//c.amazon-adsystem.com\">\n    <link rel=\"preconnect\"\
        \ href=\"//cdn.adsafeprotected.com\">\n    <link rel=\"preconnect\" href=\"\
        //securepubads.g.doubleclick.net\">\n\n\t\t\t\t\t\n\t\t\t\t\t<meta charset=\"\
        utf-8\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\n<meta\
        \ name=\"robots\" content=\"max-image-preview:large, NOODP, NOYDIR\" />\n\n\
        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n\n<link rel=\"canonical\" href=\"https://www.investopedia.com/company-news-4427705\"\
        \ />\n<title>Company News</title>\n<meta name=\"description\" content=\"Follow\
        \ the hottest stocks that are making the biggest moves.\" itemprop=\"description\"\
        >\n<meta name=\"emailvertical\" content=\"INVESTOPEDIA\" />\n<meta name=\"\
        sailthru.tags\" content=\"news,company-news\" />\n<!-- Pinterest Pins -->\n\
        <meta itemprop=\"name\" content=\"Company News\" />\n<!-- Facebook Open Graph\
        \ Tags -->\n<meta property=\"fb:app_id\" content=\"659054097907801\" />\n\
        <meta property=\"og:type\" content=\"article\" />\n<meta property=\"og:site_name\"\
        \ content=\"Investopedia\" />\n<meta property=\"og:url\" content=\"https://www.investopedia.com/company-news-4427705\"\
        \ />\n<meta property=\"og:title\" content=\"Company News\" />\n<meta property=\"\
        og:description\" content=\"Follow the hottest stocks that are making the biggest\
        \ moves.\" />\n<!-- Twitter Cards -->\n<meta name=\"twitter:card\" content=\"\
        summary\" />\n<meta name=\"twitter:site\" content=\"@Investopedia\" />\n<meta\
        \ name=\"twitter:title\" content=\"Company News\" />\n<meta name=\"twitter:description\"\
        \ content=\"Follow the hottest stocks that are making the biggest moves.\"\
        \ />\n\t\t\t\t\t\n\t\t\t\t\t<link type=\"text/css\" rel=\"stylesheet\" data-glb-css\
        \ href=\"/static/1.132.1/cache/eNqNUu1yhCAMfKEyPFOAqMwF4xB6vXv7RuqM2FL1D2w2mw8SrBQo0VsvYleIH7ZhYoIRzULgcWIKmA9eKW9C2SlOC884F7EQpCrGpZy5nzEgnwkIQYs6hhwMvk5zDYSv6AiNEjdT9mQjsQOyU1VtV083wzOOSvK8iYwyDezFJAwRLPHI9ehJBs5JB4uQ_WRWo8UXfbis1X3-TE5qM7_s-9Et7kUVXYVd1p-xjanBPb3XWdej53TE_nGhoShbGrPCHZ1scGAu2trPdfF2YR-BdMZE_HW07lbQduaHHIyLoqpLYhzkHV1EBC4BRP8CpEjvuuP1R_-lbzfdyfiv5xsWR5d8.min.css\"\
        ></link>\n\n\t\t\t\t\t\n\t\t\t\t\t<style type=\"text/css\"></style>\n\t\t\t\
        \t\t\n\t\t\t\t\t<script type=\"text/javascript\" data-glb-js=\"top\" src=\"\
        /static/1.132.1/cache/eNptkd1uwyAMRl-oEe9QadptFeUFDLipy4-ZMamyp19aVRvtcsmx-Tj6MFVByZlrNVYQQmHKWg_mDydYLfYgMnj0vySSrXe8Qmj9WuG4ninGni2YPYtJ7FEyfcuQIGt8SXfMgbD-i_9qKGtVoTz3600pkvYXNnjOwy73nPYHn6dpR1MvwvqmJ7gNG04CLvQqjlPhjFt3BvxDeC76UkeztdmejNOxP-o9clT7seDbDxSYcVgIb3uvzZoetUVyYdCn1g-qcK-y.min.js\"\
        ></script>\n\n\t\t\t\t\t\n\t\t\t\t\t<script type=\"text/javascript\">(function(){\n\
        var pageTargeting = {\nrec: 0\n,customSeries: ''\n,tax0: 'inv'\n,custom: ''\n\
        ,rpv: 27\n,pagetitle: 'Company News'\n,rid: 'nf7bf8cbd6e6449b18cb650fd13b396ef04'\n\
        ,url: '/company-news-4427705'\n,sid: 'nf7bf8cbd6e6449b18cb650fd13b396ef04'\n\
        ,microtags: ''\n}\n;\nvar baseSlotTargeting = {\ninf: '0'\n,entryType: 'direct'\n\
        ,leaid: '156569'\n,amp: '0'\n,docId: '4427705'\n,ptax: 'inv_company-news'\n\
        ,vid: '0'\n,tax1: 'inv_news'\n,tax2: 'inv_company-news'\n,chpg: '1'\n,t: '102'\n\
        ,au: '156569'\n,tier: 'L'\n,jny: '0'\n,leuid: '148122552371372'\n,sbj: 'pidinv_company-news'\n\
        ,aid: ''\n,tax3: ''\n,jnyroot: ''\n}\n;\npageTargeting.w = Mntl.utilities.getW();\n\
        Finance.GPT.testIds(pageTargeting, baseSlotTargeting);\nMntl.utilities.onLoad(function()\
        \ {\nMntl.utilities.loadExternalJS({\nsrc: '//www.googletagservices.com/tag/js/gpt.js',\n\
        async: false\n});\n});\nvar options = {\ndomain: 'www.investopedia.com',\n\
        isMobile: false,\ndfpId: '479',\nsingleRequest: false,\npageTargeting: pageTargeting,\n\
        baseSlotTargeting: baseSlotTargeting,\ninitialSlots: [{\nconfig: {\nid: 'leaderboard',\n\
        sizes: [[728, 90], [970, 250], [970, 90], [1, 1]],\ntype: 'leaderboard',\n\
        rtb: true\n},\ntargeting: Mntl.fnUtilities.deepExtend({}, {\npos: 'atf',\n\
        priority: 1\n,floor_id: 'edfcaaf79927495cbc6ee7d0458661f5'\n,floor: 395\n\
        })\n}],\nutils: {\ncollapseAd: Finance.GPT.collapseAd,\ngenerateSlotId: Finance.GPT.generateSlotId,\n\
        buildGptUrl: Finance.GPT.buildGptUrl\n},\ndisplayOnScroll: 'false',\ndisplayOnConsent:\
        \ 'false'\n};\nMntl.GPT.init(options);\n}());var Mntl = window.Mntl || {};\n\
        Mntl.RTB = Mntl.RTB || {};\nMntl.RTB.setTaxonomyStampValues({\"tax1\":\"inv_news\"\
        ,\"tax2\":\"inv_company-news\",\"tax0\":\"inv_root\"});\nMntl.RTB.setTimeoutLength([500,800]);\n\
        Mntl.RTB.Plugins.amazon.amazonConfigs = {\"mapTaxValues\":{\"tax1\":\"inv_news\"\
        ,\"tax2\":\"inv_company-news\",\"si_section\":\"inv_company-news\",\"tax0\"\
        :\"inv_root\",\"tax3\":\"null\"},\"mapFBValues\":{\"adunitid\":\"mapFBID\"\
        },\"amazonSlotName\":false,\"amazonSection\":\"Company News\"};\nMntl.RTB.Plugins.s2s.s2sConfigs\
        \ = {\"partners\":\"\",\"timeout\":500};\nMntl.RTB.initBidders([{ type: \"\
        amazon\", id: '3222'},{ type: \"lotameLightning\", id: 'true'},{ type: \"\
        ias\", id: '926268'},{ type: \"ixid\", id: 'true'},{ type: \"prebid\", id:\
        \ 'true'}]);\nMntl.RTBTracking.init(['amazon','lotameLightning','ias','ixid','prebid']);\n\
        Mntl.RTB.Plugins.mediaGrid.mediaGridConfig.adUnitIds = {\"billboard2\":958,\"\
        billboard6\":962,\"billboard5\":961,\"billboard4\":960,\"billboard3\":959,\"\
        leaderboard2\":966,\"billboard7\":963,\"billboard\":957,\"leaderboard\":965,\"\
        leaderboardfooter2\":968,\"leaderboardfooter\":967,\"fluid\":964};\nMntl.RTB.Plugins.mediaGrid.mediaGridConfig.requestSettings.keyWords\
        \ = '{\"tax1\":\"inv_news\",\"tax2\":\"inv_company-news\",\"tax0\":\"inv_root\"\
        ,\"pc\":1,\"tax3\":\"null\"}';\nMntl.RTB.Plugins.lotameLightning.init({\"\
        tax1\":\"inv_news\",\"tax2\":\"inv_company-news\",\"tax0\":\"inv\",\"clientId\"\
        :\"13665\"});\nMntl.RTB.Plugins.prebid.setConfig({\"billboard2\":[{\"bidder\"\
        :\"ix\",\"params\":{\"siteId\":\"324008\",\"size\":[300,250]}},{\"bidder\"\
        :\"ix\",\"params\":{\"siteId\":\"324014\",\"size\":[300,600]}},{\"bidder\"\
        :\"grid\",\"params\":{\"uid\":958}},{\"bidder\":\"ix\",\"params\":{\"siteId\"\
        :\"324012\",\"size\":[160,600]}},{\"bidder\":\"criteo\",\"params\":{\"networkId\"\
        :7764}}],\"billboard6\":[{\"bidder\":\"criteo\",\"params\":{\"networkId\"\
        :7764}},{\"bidder\":\"grid\",\"params\":{\"uid\":962}},{\"bidder\":\"ix\"\
        ,\"params\":{\"siteId\":\"324023\",\"size\":[300,250]}}],\"leaderboard6\"\
        :[{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"leaderboard5\"\
        :[{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"billboard5\"\
        :[{\"bidder\":\"rubicon\",\"params\":{\"accountId\":\"7499\",\"siteId\":\"\
        265584\",\"zoneId\":\"1314774\"}},{\"bidder\":\"grid\",\"params\":{\"uid\"\
        :961}},{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}},{\"bidder\"\
        :\"ix\",\"params\":{\"siteId\":\"324021\",\"size\":[300,250]}}],\"billboard4\"\
        :[{\"bidder\":\"ix\",\"params\":{\"siteId\":\"324018\",\"size\":[300,250]}},{\"\
        bidder\":\"ix\",\"params\":{\"siteId\":\"324019\",\"size\":[300,600]}},{\"\
        bidder\":\"rubicon\",\"params\":{\"accountId\":\"7499\",\"siteId\":\"265584\"\
        ,\"zoneId\":\"1314756\"}},{\"bidder\":\"grid\",\"params\":{\"uid\":960}},{\"\
        bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"billboard3\":[{\"\
        bidder\":\"ix\",\"params\":{\"siteId\":\"324016\",\"size\":[300,250]}},{\"\
        bidder\":\"rubicon\",\"params\":{\"accountId\":\"7499\",\"siteId\":\"265584\"\
        ,\"zoneId\":\"1314750\"}},{\"bidder\":\"grid\",\"params\":{\"uid\":959}},{\"\
        bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"leaderboard2\":[{\"\
        bidder\":\"criteo\",\"params\":{\"networkId\":7764}},{\"bidder\":\"grid\"\
        ,\"params\":{\"uid\":966}}],\"leaderboard4\":[{\"bidder\":\"criteo\",\"params\"\
        :{\"networkId\":7764}}],\"leaderboard3\":[{\"bidder\":\"criteo\",\"params\"\
        :{\"networkId\":7764}}],\"billboard7\":[{\"bidder\":\"ix\",\"params\":{\"\
        siteId\":\"324025\",\"size\":[300,250]}},{\"bidder\":\"criteo\",\"params\"\
        :{\"networkId\":7764}},{\"bidder\":\"grid\",\"params\":{\"uid\":963}}],\"\
        leaderboardac\":[{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"\
        dynamic-inline0\":[{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"\
        dynamic-inline1\":[{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"\
        dynamic-inline2\":[{\"bidder\":\"criteo\",\"params\":{\"networkId\":7764}}],\"\
        leaderboardfooter2\":[{\"bidder\":\"grid\",\"params\":{\"uid\":968}},{\"bidder\"\
        :\"criteo\",\"params\":{\"networkId\":7764}},{\"bidder\":\"ix\",\"params\"\
        :{\"siteId\":\"324002\",\"size\":[728,90]}},{\"bidder\":\"ix\",\"params\"\
        :{\"siteId\":\"324003\",\"size\":[970,250]}}],\"dynamic-inline3\":[{\"bidder\"\
        :\"criteo\",\"params\":{\"networkId\":7764}}],\"dynamic-inline4\":[{\"bidder\"\
        :\"criteo\",\"params\":{\"networkId\":7764}}],\"dynamic-inline5\":[{\"bidder\"\
        :\"criteo\",\"params\":{\"networkId\":7764}}],\"fluid\":[{\"bidder\":\"grid\"\
        ,\"params\":{\"uid\":964}}],\"billboard\":[{\"bidder\":\"criteo\",\"params\"\
        :{\"networkId\":7764}},{\"bidder\":\"grid\",\"params\":{\"uid\":957}},{\"\
        bidder\":\"rubicon\",\"params\":{\"accountId\":\"7499\",\"siteId\":\"265584\"\
        ,\"zoneId\":\"1314732\"}},{\"bidder\":\"ix\",\"params\":{\"siteId\":\"324006\"\
        ,\"size\":[300,600]}},{\"bidder\":\"ix\",\"para[...]
