interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.businesswire.com/portal/site/home/news/
  response:
    body:
      string: "<!doctype html>\n\n\n\n\n\n<!--[if lt IE 7]> <html class=\"no-js lt-ie9
        lt-ie8 lt-ie7\" lang=\"en\"> <![endif]-->\n<!--[if IE 7]>    <html class=\"no-js
        lt-ie9 lt-ie8\" lang=\"en\"> <![endif]-->\n<!--[if IE 8]>    <html class=\"no-js
        lt-ie9\" lang=\"en\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"
        lang=\"en\"> <!--<![endif]-->\n<head>\n\t<meta charset=\"utf-8\" />\n\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\" />\n\t<title>All
        News | Business Wire</title>\n<meta name=\"description\" content=\"View press
        releases, multimedia and other news from hundreds of issuing companies, categorized
        by date, industry, subject, language and more.\"/>\n<meta name=\"robots\"
        content=\"noodp,noydir\"/>\n\t<!-- Twitter Card Meta Tags -->\n<meta name=\"twitter:card\"
        content=\"summary\" />\n<meta name=\"twitter:site\" content=\"@businesswire\"
        />\n<meta name=\"twitter:title\" content=\"All News\" />\n\n<!-- OG Meta Tags
        for Facebook and LinkedIn -->\n<meta property=\"og:title\" content=\"All News\"
        />\n<meta property=\"og:url\" content=\"\" />\n<meta property=\"fb:pages\"
        content=\"1157450754275955\" />\n\t<meta name=\"p:domain_verify\" content=\"95725e0359a14c2e1ccbd936e10d20d6\"
        />\n\t<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"
        />\n  \t<link rel=\"stylesheet\" href=\"/css/style.css\" />\n\t<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/css/jquery-ui.css\" />\n\t<!--[if lt IE 9]>\n\t\t<link
        rel=\"stylesheet\" href=\"/css/libs/PIE.css\" />\n\t\t<link rel=\"stylesheet\"
        href=\"/css/style-ie8.css\" />\n\t\t<script src=\"/js/libs/html5shiv-printshiv.js\"></script>\n\t<![endif]-->\n\t<!--
        OneTrust Cookies Consent Notice start -->\n    <script src=\"/js/one_trust/scripttemplates/otSDKStub.js\"
        \ type=\"text/javascript\" charset=\"UTF-8\" data-domain-script=\"a2007379-c22b-41e8-8743-1bbfd2cbb24a\"></script>\n
        \   <script type=\"text/javascript\">\n        function OptanonWrapper() {
        }\n    </script>\n\t<!-- OneTrust Cookies Consent Notice end -->\n\t<!-- Google
        Tag Mana[...]
