interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://insideevs.com/news/317119/fisker-on-the-hunt-for-partner-investor-in-china-hires-consulting-group-to-conserve-cash/
  response:
    body:
      string: "<!DOCTYPE html><html prefix=\"og: http://ogp.me/ns#\" lang=\"en\">\n<head>\n
        \   <meta charset=\"utf-8\">\n    <title>Fisker on the Hunt for Partner /
        Investor in China; Hires Consulting Group to Conserve Cash</title>\n\n    <link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://cdn.motor1.com/images/static/insideevs/favicon-32.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"96x96\" href=\"https://cdn.motor1.com/images/static/insideevs/favicon-96.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"128x128\" href=\"https://cdn.motor1.com/images/static/insideevs/favicon-128.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"195x195\" href=\"https://cdn.motor1.com/images/static/insideevs/favicon-195.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"196x196\" href=\"https://cdn.motor[...]
