interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.investopedia.com/2-hospital-stocks-set-to-benefit-beyond-the-pandemic-5090659
  response:
    body:
      string: "<!DOCTYPE html>\n<html id=\"sc-template_1-0\" class=\"comp   sc-template\
        \ article-layout base-layout mntl-html\" data-ab=\"68,99,70,66,99\" data-resource-version=\"\
        1.132.1\" lang=\"en\" data-mantle-resource-version=\"3.12.216\" data-finance-resource-version=\"\
        1.132.1\" data-tracking-container=\"true\">\t\t\t\t\n<!--\n<globe-environment\
        \ environment=\"prod\" application=\"finance\" dataCenter=\"us-west-2\"/>\n\
        -->\n<head class=\"loc head\">\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t<script type=\"\
        text/javascript\"></script>\n\t\t\t\t\t\n\t\t\t\t\t    <link rel=\"preconnect\"\
        \ href=\"//js-sec.indexww.com\">\n    <link rel=\"preconnect\" href=\"//tags.crwdcntrl.net\"\
        >\n    <link rel=\"preconnect\" href=\"//c.amazon-adsystem.com\">\n    <link\
        \ rel=\"preconnect\" href=\"//cdn.adsafeprotected.com\">\n    <link rel=\"\
        preconnect\" href=\"//securepubads.g.doubleclick.net\">\n\n\t\t\t\t\t\n\t\t\
        \t\t\t<meta charset=\"utf-8\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"\
        IE=edge\">\n\n<meta name=\"robots\" content=\"max-image-preview:large, NOODP,\
        \ NOYDIR\" />\n\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\n\n<link rel=\"canonical\" href=\"https://www.investopedia.com/2-hospital-stocks-set-to-benefit-beyond-the-pandemic-5090659\"\
        \ />\n<title>2 Hospital Stocks Set to Benefit Beyond the Pandemic</title>\n\
        <meta name=\"description\" content=\"Charts suggest that investors are betting\
        \ on elective surgeries to boost hospital profits in 2021.\" itemprop=\"description\"\
        >\n<meta name=\"emailcontenttype\" content=\"STRUCTUREDCONTENT\" />\n<meta\
        \ name=\"emailvertical\" content=\"INVESTOPEDIA\" />\n<meta name=\"sailthru.author\"\
        \ content=\"Timothy Smith\" />\n<meta name=\"sailthru.tags\" conten[...]
