interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.agupdate.com/iowafarmertoday/markets/crop/smaller-production-helps-sustain-grain-rally/article_f0a5bb2c-0d8c-11eb-ac78-a7920d4ea510.html
  response:
    body:
      string: "\r\n  \n\n<!DOCTYPE html>\r\n        <html lang=\"en\">\r\n       \
        \ <head>\n<base href=\"https://www.agupdate.com/content/tncms/live/\" />\n\
        <meta name=\"keywords\" content=\"economics, commodity prices, soybean, corn,\
        \ harvest, finance\" />\n<meta name=\"news_keywords\" content=\"economics,\
        \ commodity prices, soybean, corn, harvest, finance\" />\n<meta name=\"description\"\
        \ content=\"Grain futures contracts have been on the rise in the past month\
        \ as supply tightens and demand rises, according to the latest monthly USDA\
        \ report.\" />\n<meta name=\"author\" content=\"\" />\n<meta name=\"viewport\"\
        \ content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"apple-mobile-web-app-capable\"\
        \ content=\"yes\" />\n<meta name=\"apple-mobile-web-app-status-bar-style\"\
        \ content=\"black-translucent\" />\n<meta name=\"apple-itunes-app\" content=\"\
        app-id=com.agupdate.ios\" />\n<meta name=\"google-play-app\" content=\"app-id=com.agupdate.android\"\
        \ />\n<meta name=\"google-site-verification\" content=\"anhgSoGOPfoQHRev2i64-4vBRyW-Lv0N2gl-Tfq4oyg\"\
        \ />\n<meta property=\"og:type\" content=\"article\" />\n<meta property=\"\
        og:url\" content=\"https://www.agupdate.com/iowafarmertoday/markets/crop/smaller-production-helps-sustain-grain-rally/article_f0a5bb2c-0d8c-11eb-ac78-a7920d4ea510.html\"\
        \ />\n<meta property=\"og:image\" content=\"https://bloximages.chicago2.vip.townnews.com/agupdate.com/content/tncms/assets/v3/editorial/2/b9/2b976d8e-0d8d-11eb-ace4-3b32d1f764ad/5f8604f053e9a.image.jpg?crop=900%2C506%2C0%2C0&amp;resize=900%2C506&amp;order=crop%2Cresize\"\
        \ />\n<meta property=\"og:image:width\" content=\"900\" />\n<meta property=\"\
        og:image:height\" content=\"506\" />\n<meta property=\"og:title\" content=\"\
        Smaller production helps sustain grain rally\" />\n<meta property=\"og:description\"\
        \ content=\"Grain futures contracts have been on the rise in the past month\
        \ as supply tightens and demand rises, according to the latest monthly USDA\
        \ report.\" />\n<meta property=\"og:site_name\" content=\"AgUpdate\" />\n\
        <meta property=\"og:section\" content=\"Crop\" />\n<meta name=\"twitter:card\"\
        \ content=\"summary_large_image\" />\n<meta name=\"twitter:site\" content=\"\
        @agupdatecom\" />\n<meta name=\"twitter:image:alt\" content=\"Dollar bill\
        \ in corn and beans\" />\n<link rel=\"stylesheet preload\" as=\"style\" href=\"\
        https://bloximages.chicago2.vip.townnews.com/agupdate.com/shared-content/art/tncms/templates/libraries/flex/components/bootstrap/resources/styles/bootstrap.min.44f4ed00052aeaf66307fd409db0d101.css\"\
        />\n<link rel=\"stylesheet preload\" as=\"style\" href=\"https://bloximages.chicago2.vip.townnews.com/agupdate.com/shared-content/art/tncms/templates/libraries/flex/components/template/resources/styles/layout.5cfe8d2b6e902b79c4710d15b491c631.css\"\
        />\n<link rel=\"stylesheet preload\" as=\"style\" href=\"https://bloximages.chicago2.vip.townnews.com/agupdate.com/shared-content/art/tncms/templates/libraries/flex/components/themes/resources/styles/theme-basic.c9c732b035a293475d6df8121863ef5a.css\"\
        />\n<link rel=\"stylesheet\" href=\"https://bloximages.chicago2.vip.townnews.com/agupdate.com/content/tncms/live/libraries/flex/components/lee_flex/resources/styles/lee-ds.min.css?_dc=1606809603\"\
        />\n<link rel=\"stylesheet\" href=\"https://bloximages.chicago2.vip.townnews.com/agupdate.com/content/tncms/live/global/resources/styles/site.css?_dc=1469033576\"\
        />\n<link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.6.3/css/all.css\"\
        />\n<style>/*<![CDATA[*/ #tncms-block-1694886 .tnt-prop-img { max-width: 600px;\
        \ } .follow-links-1694885 li { margin-right: 1px; padding: 0; } .follow-links-1694885\
        \ li a, .follow-links-1694885 li a:focus, .follow-links-1694885 li a:active\
        \ { ; color: #fff!important; font-size: 18px; margin-right: 10px; opacity:\
        \ .8; padding:0; box-shadow: none; } .follow-links-1694885 li a:hover { text-decoration:\
        \ none; opacity: 1; } .follow-links-1694885 li a.fb:hover { [...]
