interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nasdaq.com/api/v1/news-headlines-fetcher/TWTR/6776/8
  response:
    body:
      string: "<div class=\"quote-news-headlines\" data-symbol=\"\">\n  <ul class=\"quote-news-headlines__list\">\n
        \         <li class=\"quote-news-headlines__item\">\n        <a href=\"/articles/social-networking-service-twitter-sets-terms-highly-anticipated-13-billion-ipo-2013-10-24\"
        class=\"quote-news-headlines__link\">\n          <span class=\"quote-news-headlines__date\">Oct
        24, 2013</span>\n          <p class=\"quote-news-headlines__item-title\"><span>Social
        networking service Twitter sets terms for highly anticipated $1.3 billion
        IPO</span>\n</p>\n        </a>\n      </li>\n      </ul>\n\n  <div class=\"pagination-news-headlines\"
        data-symbol=\"6776\" data-count=\"6777\">\n    \n<div class=\"pagination\">\n
        \     <button class=\"pagination__previous\" aria-label=\"click to go to the
        previous page\"></button>\n  \n  <div class=\"pagination__pages\">\n          <button
        class=\"pagination__page\"></button>\n      <span class=\"pagination__ellipsis\"
        aria-hidden=\"true\">...</span>\n      </div>\n\n      <button class=\"pagination__next\"
        aria-label=\"click to go to the next page\"></button>\n  </div>\n\n\n</div>\n\n</div>\n\n\n"
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=UTF-8
      X-AH-Environment:
      - prod
      X-Age:
      - '0'
      X-Akamai-Transformed:
      - 9 419 0 pmb=mRUM,2
      X-EdgeConnect-MidMile-RTT:
      - '89'
      X-EdgeConnect-Origin-MEX-Latency:
      - '889'
      X-Generator:
      - Drupal 8 (https://www.drupal.org)
    status:
      code: 200
      message: OK
version: 1
