interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://soybeansandcorn.com/news/Nov9_20-Brazil-Importing-US-Soybeans
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\r\n\t\"\
        http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n\r\n<html xmlns=\"\
        http://www.w3.org/1999/xhtml\" xml:lang=\"en\" lang=\"en\">\r\n<head>\r\n\t\
        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"/>\r\
        \n\r\n  \t<title>Soybean And Corn Advisor</title>\r\n  \t<link rel=\"stylesheet\"\
        \ href=\"../style.css\" type=\"text/css\" charset=\"utf-8\" />\r\n  \r\n\t\
        <link rel=\"stylesheet\" type=\"text/css\" href=\"../niftyCorners.css\">\r\
        \n  \t<link rel=\"stylesheet\" type=\"text/css\" href=\"../niftyLayout.css\"\
        \ media=\"print\">\r\n  \t<script type=\"text/javascript\" src=\"../niftycube.js\"\
        ></script>\r\n  \t<script type=\"text/javascript\" src=\"../niftylayou.js\"\
        ></script>\r\n  \t<script type=\"text/javascript\">\r\n\t\twindow.onload=function()\r\
        \n\t\t{\r\n\t\t\tNifty(\"#sddm li a\",\"transparent top\");\r\n\t\t}\r\n\t\
        </script>\r\n\r\n  \n\t<script type=\"text/javascript\">\n\t\tvar str = \"\
        \";\n\t\tvar used = new Array()\n\t\tfunction getRand(){\n\t\t\tvar n = Math.floor(Math.random()\
        \ * 249) + 1;\n\t\t\tvar i;\n\t\t\tfor (i = 0; i < used.length; i ++){\n\t\
        \t\t\twhile (n == used[i]){\n\t\t\t\t\tn = Math.floor(Math.random() * 249)\
        \ + 1;\n\t\t\t\t}\n\t\t\t}\n\t\t\tvar str = \"\";\n\t\t\tif (n < 10)\n\t\t\
        \t\t{str = \"00\"};\n\t\t\tif (n < 100 && n > 9)\n\t\t\t\t{str = \"0\";}\n\
        \t\t\tstr = str+n;\n\t\t\treturn str;\n\t\t}\n\t\tfunction showpic(){\n\t\t\
        \tstr = getRand();\n\t\t\tused[0] = str;\n\t\t\tvar l1 = \"<a href=/photo3/\"\
        +str+\".JPG><img width=200 src=/photo3/\"+str+\"sm.jpg></a><br/><br/>\";\n\
        \t\t\tstr = getRand();\n\t\t\tused[1] = str;\n\t\t\tvar l2 = \"<a href=/photo3/\"\
        +str+\".JPG><img width=200 src=/photo3/\"+str+\"sm.jpg></a><br/><br/>\";\n\
        \t\t\tstr = getRand();\n\t\t\tused[2] = str;\n\t\t\tvar l3 = \"<a href=/photo3/\"\
        +str+\".JPG><img width=200 src=/photo3/\"+str+\"sm.jpg></a><br/><br/>\";\n\
        \t\t\tstr = getRand();\n\t\t\tused[3] = str;\n\t\t\tvar l4 = \"<a href=/photo3/\"\
[...]
