interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.businesswire.com/news/home/20210301005645/en/Global-Renewable-Methanol-Market-2021-2028---Shifting-Trend-Towards-Sustainable-Energy-Sources---ResearchAndMarkets.com
  response:
    body:
      string: "<!doctype html>\n\n\n\n\n\n<!--[if lt IE 7]> <html class=\"no-js lt-ie9
        lt-ie8 lt-ie7\" lang=\"en\"> <![endif]-->\n<!--[if IE 7]>    <html class=\"no-js
        lt-ie9 lt-ie8\" lang=\"en\"> <![endif]-->\n<!--[if IE 8]>    <html class=\"no-js
        lt-ie9\" lang=\"en\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"
        lang=\"en\"> <!--<![endif]-->\n<head>\n\t<meta charset=\"utf-8\" />\n\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\" />\n\t<title>Global
        Renewable Methanol Market 2021-2028 - Shifting Trend Towards Sustainable Energy
        Sources - ResearchAndMarkets.com | Business Wire</title>\n<meta name=\"description\"
        content=\"The \"Global Renewable Methanol Market 2021-2028\" report has been
        added to ResearchAndMarkets.com's offering. Global market for renewable methanol,
        pre\"/>\n<!-- DC.date.issued is in UTC (Coordinated Universal Time) timezone
        -->\n<meta name=\"DC.date.issued\" content=\"2021-03-01\"/>\n<meta name=\"robots\"
        content=\"noodp,noydir\"/>\n<link rel=\"canonical\" href=\"https://www.businesswire.com/news/home/20210301005645/en/Global-Renewable-Methanol-Market-2021-2028---Shifting-Trend-Towards-Sustainable-Energy-Sources---ResearchAndMarkets.com\"
        />\n\t<!-- Twitter Card Meta Tags -->\n<meta name=\"twitter:card\" content=\"summary_large_image\"
        />\n<meta name=\"twitter:site\" content=\"@businesswire\" />\n<meta name=\"twitter:title\"
        content=\"Global Renewable Methanol Market 2021-2028 - Shifting Trend Towards
    [...]
