interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.theglobeandmail.com/investing/markets/stocks/FSR-N/pressreleases/630205/
  response:
    body:
      string: "<!doctype html> <html lang=\"en-CA\" prefix=\"og: http://ogp.me/ns#\
        \ fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#\" class=\"layout-template-1\
        \ page-or-template-stock-quote-single-press-release no-js section section-investing-markets-stocks-FSR-N-pressreleases-630205-\
        \ financial page-white\"> <head> <meta charset=\"utf-8\"><title>Fisker Inc\
        \ (FSR-N) Quote - Press Release - The Globe and Mail</title> <link rel=\"\
        preload\" href=\"/pb/resources/assets/panther/fonts/Pratt.e7211379ae4037c6e43a8d213e22e5fd.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin> <link rel=\"preload\" href=\"\
        /pb/resources/assets/panther/fonts/Pratt-Bold.000590fe79910216f5ab68855e5a7a43.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin> <link rel='preload' as='style'\
        \ href='/pb/gr/c/default/ryMyBk2DGwA0ms/head-css/02d9ac5488.css?v=438'><meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\"> <meta name=\"application-name\"\
        \ content=\"The Globe and Mail\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"\
        > <meta name=\"description\" content=\"Detailed price information for Fisker\
        \ Inc (FSR-N) from The Globe and Mail including charting and trades.\"> <meta\
        \ name=\"keywords\" content=\"index market quotes, index market quote, index\
        \ market symbols, index market symbol, futures, indices, Fisker Inc, FSR,\
        \ The Globe and Mail\"> <meta name=\"release-version\" content=\"5_1_27\"\
        > <link rel=\"canonical\" href=\"https://www.theglobeandmail.com/investing/markets/stocks/FSR-N/pressreleases/630205/\"\
        > <link rel=\"preconnect\" href=\"https://polyfill.io\"> <link rel=\"preconnect\"\
        \ href=\"https://www.googletagmanager.com\"> <link rel=\"preconnect\" href=\"\
        https://s.go-mpulse.net\"> <link rel=\"preconnect\" href=\"//cdn.krxd.net\"\
        > <link rel=\"preconnect\" href=\"https://securepubads.g.doubleclick.net\"\
        > <link rel=\"dns-prefetch\" href=\"https://cdn.sophi.io\"> <link rel=\"dns-prefetch\"\
        \ href=\"https://sp-prd.theglobeandmail.ca\"><link rel=\"dns-prefetch\" href=\"\
        https://sp.theglobeandmail.com\"><link rel=\"dns-prefetch\" href=\"https://www.google-analytics.com\"\
        > <link rel=\"dns-prefetch\" href=\"https[...]
