interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://agfax.com/tag/corn-news/page/996/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\"\
        >\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"\
        >\n<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n<title>corn news\
        \ &#8211; Page 996 &#8211; AgFax</title>\n<style>@font-face {font-family:\
        \ \"sw-icon-font\";src:url(\"https://agfax.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.eot?ver=3.6.1\"\
        );src:url(\"https://agfax.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.eot?ver=3.6.1#iefix\"\
        ) format(\"embedded-opentype\"),url(\"https://agfax.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.woff?ver=3.6.1\"\
        ) format(\"woff\"),\n\turl(\"https://agfax.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.ttf?ver=3.6.1\"\
        ) format(\"truetype\"),url(\"https://agfax.com/wp-content/plugins/social-warfare/assets/fonts/sw-icon-font.svg?ver=3.6.1#1445203416\"\
        ) format(\"svg\");font-weight: normal;font-style: normal;}</style>\n\n<link\
        \ rel='dns-prefetch' href='//s0.wp.com' />\n<link rel='dns-prefetch' href='//fonts.googleapis.com'\
        \ />\n<link rel='dns-prefetch' href='//s.w.org' />\n<link rel=\"alternate\"\
        \ type=\"application/rss+xml\" title=\"AgFax &raquo; Feed\" href=\"https://agfax.com/feed/\"\
        \ />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"AgFax &raquo;\
        \ Comments Feed\" href=\"https://agfax.com/comments/feed/\" />\n<link rel=\"\
        alternate\" type=\"text/calendar\" title=\"AgFax &raquo; iCal Feed\" href=\"\
        https://agfax.com/events/?ical=1\" />\n<link rel=\"alternate\" type=\"application/rss+xml\"\
        \ title=\"AgFax &raquo; corn news Tag Feed\" href=\"https://agfax.com/tag/corn-news/feed/\"\
        \ />\n\n<script type=\"text/javascript\" data-cfasync=\"false\">\r\n\tvar\
        \ mi_version         = '7.10.4';\r\n\tvar mi_track_user      = true;\r\n\t\
        var mi_no_track_reason = '';\r\n\t\r\n\tvar disableStr = 'ga-disable-UA-31123020-1';\r\
        \n\r\n\t/* Function to detect opted out users */\r\n\tfunction __gaTrackerIsOptedOut()\
        \ {\r\n\t\treturn document.cookie.indexOf(disableStr + '=true') > -1;\r\n\t\
        }\r\n\r\n\t/* Disable tracking if the opt-out cookie exists. */\r\n\tif [...]
