interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\" itemscope itemtype=\"http://schema.org/WebPage\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\"\
        >\n<meta name=\"generator\" content=\"Total WordPress Theme v5.0.6\">\n<meta\
        \ name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\r\n\n\t<!-- This site\
        \ is optimized with the Yoast SEO plugin v15.2.1 - https://yoast.com/wordpress/plugins/seo/\
        \ -->\n\t<title>Coverage Levels on RP: Relationship to Premium Levels &bull;\
        \ farmdoc daily</title>\n\t<meta name=\"description\" content=\"Gary Schnitkey,\
        \ Nick Paulson, Carl Zulauf, and Krista Swanson &bull; Krista Swanson &bull;\
        \ In 2020, Revenue Protection (RP) was used on 93% of insured acres in Illinois,\
        \ making it by far the most popular crop insurance product. Herein, we examine\
        \ coverage levels while insuring with RP. Average coverage levels were high.\_\
        \ Most farmers choose coverage levels such that premiums are between $15 and\
        \ $23 per acre.\" />\n\t<meta name=\"robots\" content=\"index, follow, max-snippet:-1,\
        \ max-image-preview:large, max-video-preview:-1\" />\n\t<link rel=\"canonical\"\
        \ href=\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html\"\
        \ />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"\
        og:type\" content=\"article\" />\n\t<meta property=\"og:title\" content=\"\
        Coverage Levels on RP: Relationship to Premium Levels &bull; farmdoc daily\"\
        \ />\n\t<meta property=\"og:description\" content=\"Gary Schnitkey, Nick Paulson,\
        \ Carl Zulauf, and Krista Swanson &bull; Krista Swanson &bull; In 2020, Revenue\
        \ Protection (RP) was used on 93% of insured acres in Illinois, making it\
        \ by far the most popular crop insurance product. Herein, we examine coverage\
        \ levels while insuring with RP. Average coverage levels were high.\_ Most\
        \ farmers choose coverage levels such that premiums are between $15 and $23\
        \ per acre.\" />\n\t<meta property=\"og:url\" content=\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html\"\
        \ />\n\t<meta property=\"og:site_name\" content=\"farmdoc daily\" />\n\t<meta\
        \ property=\"article:publisher\" content=\"https://facebook.com/farmdoc\"\
        \ />\n\t<meta property=\"article:published_time\" content=\"2020-12-01T23:04:46+00:00\"\
        \ />\n\t<meta property=\"article:modified_time\" content=\"2020-12-02T18:34:53+00:00\"\
        \ />\n\t<meta property=\"og:image\" content=\"https://farmdocdaily.illinois.edu/wp-content/uploads/2020/12/12012020_fig1-1024x576.png\"\
        \ />\n\t<meta name=\"twitter:card\" content=\"summary\" />\n\t<meta name=\"\
        twitter:creator\" content=\"@farmdocdaily\" />\n\t<meta name=\"twitter:site\"\
        \ content=\"@farmdocdaily\" />\n\t<meta name=\"twitter:label1\" content=\"\
        Written by\">\n\t<meta name=\"twitter:data1\" content=\"Hongxia Jiao\">\n\t\
        <meta name=\"twitter:label2\" content=\"Est. reading time\">\n\t<meta name=\"\
        twitter:data2\" content=\"3 minutes\">\n\t<script type=\"application/ld+json\"\
        \ class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\",\"@graph\"\
        :[{\"@type\":\"Organization\",\"@id\":\"https://farmdocdaily.illinois.edu/#organization\"\
        ,\"name\":\"farmdoc daily\",\"url\":\"https://farmdocdaily.illinois.edu/\"\
        ,\"sameAs\":[\"https://facebook.com/farmdoc\",\"https://www.youtube.com/user/farmdocvideo\"\
        ,\"https://twitter.com/farmdocdaily\"],\"logo\":{\"@type\":\"ImageObject\"\
        ,\"@id\":\"https://farmdocdaily.illinois.edu/#logo\",\"inLanguage\":\"en-US\"\
        ,\"url\":\"https://farmdocdaily.illinois.edu/wp-content/uploads/2018/11/Facebook@farmdocdaily_profile_2018.png\"\
        ,\"width\":400,\"height\":400,\"caption\":\"farmdoc daily\"},\"image\":{\"\
        @id\":\"https://farmdocdaily.illinois.edu/#logo\"}},{\"@type\":\"WebSite\"\
        ,\"@id\":\"https://farmdocdaily.illinois.edu/#website\",\"url\":\"https://farmdocdaily.illinois.edu/\"\
        ,\"name\":\"farmdoc daily\",\"description\":\"The farmdoc daily website offers\
        \ research-based analysis for farmers, educators, journalists, traders, market\
        \ analysts, and policy-makers around the globe.\",\"publisher\":{\"@id\":\"\
        https://farmdocdaily.illinois.edu/#organization\"},\"potentialAction\":[{\"\
        @type\":\"SearchAction\",\"target\":\"https://farmdocdaily.illinois.edu/?s={search_term_string}\"\
        ,\"query-input\":\"required name=search_term_string\"}],\"inLanguage\":\"\
        en-US\"},{\"@type\":\"ImageObject\",\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#primaryimage\"\
        ,\"inLanguage\":\"en-US\",\"url\":\"https://farmdocdaily.illinois.edu/wp-content/uploads/2020/12/12012020_fig1.png\"\
        ,\"width\":3070,\"height\":1727},{\"@type\":\"WebPage\",\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#webpage\"\
        ,\"url\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html\"\
        ,\"name\":\"Coverage Levels on RP: Relationship to Premium Levels &bull; farmdoc\
        \ daily\",\"isPartOf\":{\"@id\":\"https://farmdocdaily.illinois.edu/#website\"\
        },\"primaryImageOfPage\":{\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#primaryimage\"\
        },\"datePublished\":\"2020-12-01T23:04:46+00:00\",\"dateModified\":\"2020-12-02T18:34:53+00:00\"\
        ,\"description\":\"Gary Schnitkey, Nick Paulson, Carl Zulauf, and Krista Swanson\
        \ &bull; Krista Swanson &bull; In 2020, Revenue Protection (RP) was used on\
        \ 93% of insured acres in Illinois, making it by far the most popular crop\
        \ insurance product. Herein, we examine coverage levels while insuring with\
        \ RP. Average coverage levels were high.\\u00a0 Most farmers choose coverage\
        \ levels such that premiums are between $15 and $23 per acre.\",\"breadcrumb\"\
        :{\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#breadcrumb\"\
        },\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\"\
        ,\"target\":[\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html\"\
        ]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#breadcrumb\"\
        ,\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"item\":{\"\
        @type\":\"WebPage\",\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html\"\
        ,\"url\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html\"\
        ,\"name\":\"Coverage Levels on RP: Relationship to Premium Levels\"}}]},{\"\
        @type\":\"Article\",\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#article\"\
        ,\"isPartOf\":{\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#webpage\"\
        },\"author\":{\"@id\":\"https://farmdocdaily.illinois.edu/#/schema/person/e430f0dc18150ad7d3e52449561ae636\"\
        },\"headline\":\"Coverage Levels on RP: Relationship to Premium Levels\",\"\
        datePublished\":\"2020-12-01T23:04:46+00:00\",\"dateModified\":\"2020-12-02T18:34:53+00:00\"\
        ,\"mainEntityOfPage\":{\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#webpage\"\
        },\"publisher\":{\"@id\":\"https://farmdocdaily.illinois.edu/#organization\"\
        },\"image\":{\"@id\":\"https://farmdocdaily.illinois.edu/2020/12/coverage-levels-on-rp-relationship-to-premium-levels.html#primaryimage\"\
        },\"articleSection\":\"Carl Zulauf,Gary Schnitkey,Krista Swanson,Nick Paulson,policies,Weekly\
        \ Farm Economics\",\"inLanguage\":\"en-US\"},{\"@type\":\"Person\",\"@id\"\
        :\"https://farmdocdaily.illinois.edu/#/schema/person/e430f0dc18150ad7d3e52449561ae636\"\
        ,\"name\":\"Hongxia Jiao\"}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\
        \n<link rel='dns-prefetch' href='//platform.twitter.com' />\n<link rel='dns-prefetch'\
        \ href='//fonts.googleapis.com' />\n<link rel='dns-prefetc[...]
