interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.marketbeat.com/articles/professor-quits-after-posing-as-female-immigrant-on-twitter-2021-02-12/?1
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n\n<title>\r\n\tProfessor
        quits after posing as female immigrant on Twitter | MarketBeat\r\n</title><meta
        charset=\"utf-8\" /><meta name=\"viewport\" content=\"width=device-width,
        height=device-height, initial-scale=1.0\" />\n<!--[if IE]><meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\" /><![endif]-->\n\n<meta name=\"google-site-verification\"
        content=\"21tyd2NTsebvto7W56gttKaElQtkak0Ld32xGvr_COs\" /><meta name=\"msvalidate.01\"
        content=\"43C334F81BEB9DE14F872D6C91B4FC29\" /><meta name=\"y_key\" content=\"63e01d3704030089\"
        /><meta property=\"fb:pages\" content=\"1450892295227696\" /><link rel=\"sitemap\"
        type=\"application/xml\" title=\"Sitemap\" href=\"https://www.marketbeat.com/Sitemap.ashx\"
        /><link rel=\"alternate\" type=\"application/rss+xml\" title=\"MarketBeat
        Headlines RSS\" href=\"https://www.marketbeat.com/rss.ashx?type=headlines\"
        />\n\n<link rel=\"shortcut icon\" href=\"/images/2favicon.png\" />\n\n<link
        rel=\"apple-touch-icon-precomposed\" href=\"/images/apple-touch-icon-precomposed.png\"
        />\n\n<link rel=\"apple-touch-i[...]
