interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fxstreet.com/news/australia-queensland-state-premier-greater-brisbane-to-go-into-three-day-covid-lockdown-reuters-202101072222
  response:
    body:
      string: " <!DOCTYPE html> <html lang=\"en\" > <head> <meta http-equiv=\"Content-Type\"\
        \ content=\"text/html; charset=utf-8\"><script type=\"text/javascript\">window.NREUM||(NREUM={});NREUM.info\
        \ = {\"beacon\":\"bam-cell.nr-data.net\",\"errorBeacon\":\"bam-cell.nr-data.net\"\
        ,\"licenseKey\":\"c2da35057c\",\"applicationID\":\"492039093\",\"transactionName\"\
        :\"YQZSbUNSD0cABRBeV1hMcWphHBJSDBAHR1lRBkNcQ0UIVwRJVVUMAFIFDQYeWQRZAEkBD1IBHQEFVQMZBwBUAggGBwkJAgdUaw8JEF9dWwZvXF8dAEcRHg==\"\
        ,\"queueTime\":0,\"applicationTime\":141,\"agent\":\"\",\"atts\":\"\"}</script><script\
        \ type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"\
        c2da35057c\",applicationID:\"492039093\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function\
        \ r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var\
        \ i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"\
        ==typeof __nr_require)return __nr_require;for(var i=0;i<n.length;i++)r(n[i]);return\
[...]
