interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://futures.tradingcharts.com/news/headlines/Soybeans.html
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\n\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>Soybeans Futures News
        Headlines</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\" />\n<meta name=\"description\" content=\"Soybeans Futures
        and commodity market news. Breaking financial news is brought to you Courtesy
        of TFC Commodity Charts.  News headlines  from around the world including
        ...\" />\n<meta name=\"keywords\" content=\"soybeans, specialty, crop, commodities,
        futures, crop progress reports, harvest, reports, commodity, usda, financial,
        progress, agriculture, markets, beans, lentils, soy, grains, cash\" />\n<meta
        name=\"viewport\" content=\"width=device-width\">\n<!-- Google Tag Manager
        -->\n<script>\nvar InResponsiveTest2020 = 'Yes'; // for use in GTM/GA to ID
        if user is in the futures responsive test.\n(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-TR7J3SC');</script>\n<!--
        End Goog[...]
