interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.world-grain.com/articles/topic/1024
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if IE 7]>         <html class=\"no-js lt-ie9
        lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js lt-ie9\">
        <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\" lang=\"en\"> <!--<![endif]-->\n
        \ <head>\n    \n    <link href=\"https://www.world-grain.com/articles/topic/1024-commodities\"
        rel=\"canonical\" />\n    \n    <meta name=\"csrf-param\" content=\"authenticity_token\"/>\n<meta
        name=\"csrf-token\" content=\"4M74tbUYN7hipheoXqPyU9KGirFAGlGkuRn9zvjCKgTXs&#x2F;uzetgqyUx9lGjkWEt3j&#x2F;On5dO4xN5HuAfGnRzxxA==\"/>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <meta name=\"description\" content=\"World Grain Content on Commodities\">\n
        \   <meta name=\"keywords\" content=\"Commodities\">\n    \n    <link rel=\"alternate\"
        type=\"applicat[...]
