interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.thebeefread.com/
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="https://www.thebeefread.com/">here</a>.</p>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Host-Header:
      - 624d5be7be38418a3e2a818cc8b7029b
      Location:
      - https://www.thebeefread.com/
      X-Proxy-Cache:
      - MISS
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.thebeefread.com/
  response:
    body:
      string: "\n\n<!DOCTYPE html>\n\n<html class=\"no-js\" lang=\"en-US\">\n\n<head>\n
        \ \n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n<link rel=\"pingback\" href=\"https://www.thebeefread.com/xmlrpc.php\">\n<title>The
        Beef | Frank talk about extreme market conditions and changing times in cattle
        market.</title>\n<link rel='dns-prefetch' href='//maps.google.com' />\n<link
        rel='dns-prefetch' href='//www.google.com' />\n<link rel='dns-prefetch' href='//s.w.org'
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"The Beef
        &raquo; Feed\" href=\"https://www.thebeefread.com/feed/\" />\n<!-- This site
        uses the Google Analytics by ExactMetrics plugin v6.3.0 - Using Analytics
        tracking - https://www.exactmetrics.com/ -->\n<script type=\"text/javascript\"
        data-cfasync=\"false\">\n    (window.gaDevIds=window.gaDevIds||[]).push(\"dNDMyYj\");\n\tvar
        em_version         = '6.3.0';\n\tvar em_track_user      = true;\n\tvar em_no_track_reason
        = '';\n\t\n\tvar disableStr = 'ga-disable-UA-50584462-1';\n\n\t/* Function
        to detect opted out users */\n\tfunction __gaTrackerIsOptedOut() {\n\t\treturn
        document.cookie.indexOf(disableStr + '=true') > -1;\n\t}\n\n\t/* Disable tracking
        if the o[...]
