interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.dailyfx.com/market-news/articles
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"wf-cantataone-n4-loading\">\n
        \   <head>\n        <title>Forex Market &amp; Commodity News and Analysis</title>\n<meta
        charset=\"UTF-8\">\n<meta name=\"description\" content=\"Regular forex market
        and commodity news columns about fundamentals of the market from our team
        of currency analysts.\"/>\n<meta property=\"og:title\" content=\"Forex Market
        &amp; Commodity News and Analysis\"/>\n<meta property=\"og:description\" content=\"Regular
        forex market and commodity news columns about fundamentals of the market from
        our team of currency analysts.\"/>\n<meta property=\"og:image\" content=\"https://a.c-dn.net/b/1dpUOn/dailyfx.png\"
        />\n<meta property=\"og:image:width\" content=\"1200\" />\n<meta property=\"og:image:height\"
        content=\"630\" />\n<meta name=\"author\" content=\"DailyFX\"/>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\">\n<meta
        name=\"google-site-verification\" content=\"0-rnf9_wDUYCh3WOzuYTjV0rAOyPuglxX7Tku55MZoQ\"/>\n<meta
        name=\"msvalidate.01\" content=\"BF031EF4E17AE7437FD8C985581BF048\"/>\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1,  minimum-scale=1, user-scalable=0,
        shrink-to-fit=no\"/>\n<link rel=\"canonical\" href=\"https://www.dailyfx.com/market-news/articles\"/>\n\n<link
        rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://a.c-dn.net/b/3SYEED/touch-icon-iphone.png\"/>\n\n<link
        rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://a.c-dn.net/b/1ztAmA/touch-icon-ipad.png\"/>\n\n<link
        rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"https://a.c-dn.net/b/2Aur0e/touch-icon-iphone-retina.png\"/>\n\n<link
        rel=\"apple-touch-icon\" sizes=\"152x152\" hr[...]
