interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.benzinga.com/stock-articles/spaq/all?page=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"\
        http://ogp.me/ns#\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n\
        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n\
        \  <script type=\"text/javascript\"></script>\n  <!--[if IE]>\n  <script type=\"\
        text/javascript\">document.createElement(\"header\");document.createElement(\"\
        footer\");</script>\n  <script type=\"text/javascript\" src=\"/sites/all/themes/bz2/js/excanvas.js\"\
        ></script>\n  <![endif]-->\n  <script type=\"text/javascript\">var ord = Math.random()\
        \ * 10000000000000000</script>  <meta http-equiv=\"Content-Type\" content=\"\
        text/html; charset=utf-8\" />\n<script type=\"text/javascript\" src=\"https://ad.wsod.com/site/391c5ac9e899a3f96ad04ca51ea98cc2/0.0.async/\"\
        \ async=\"async\"></script>\n<link type=\"text/css\" rel=\"stylesheet\" media=\"\
        all\" href=\"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css\"\
        \ />\n<link rel=\"manifest\" href=\"/manifest.json\" />\n<script src=\"https://cdn.onesignal.com/sdks/OneSignalSDK.js\"\
        \ async=\"\"></script>\n<meta http-equiv=\"x-dns-prefetch-control\" content=\"\
        on\" />\n<link rel=\"dns-prefetch\" href=\"//cdn.benzinga.com\" />\n<link\
        \ rel=\"shortcut icon\" href=\"https://cdn.benzinga[...]
