interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.benzinga.com/trading-ideas/long-ideas/18/04/11486561/benzingas-bulls-bears-of-the-week-amazon-fitbit-mattel-twitt
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:og=\"\
        http://ogp.me/ns#\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n\
        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n\
        \  <script type=\"text/javascript\">function setMobileCookie(name,value,exdays){var\
        \ exdate=new Date();exdate.setDate(exdate.getDate()+exdays);var expire=((exdays==null)?\"\
        \":\"; expires=\"+exdate.toUTCString()),path='; path=/';document.cookie=name+\"\
        =\"+escape(value)+expire+path}\nfunction getMobileCookie(name){var c_value=document.cookie,c_start=c_value.indexOf(\"\
        \ \"+name+\"=\");if(c_start==-1)c_start=c_value.indexOf(name+\"=\");if(c_start==-1){c_value=null}else{c[...]
