interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.forexnews.world/category/forex/page/6
  response:
    body:
      string: "<!doctype html >\r\n<!--[if IE 8]>    <html class=\"ie8\" lang=\"en\">
        <![endif]-->\r\n<!--[if IE 9]>    <html class=\"ie9\" lang=\"en\"> <![endif]-->\r\n<!--[if
        gt IE 8]><!--> <html lang=\"en-US\"> <!--<![endif]-->\r\n<head>\r\n    <title>Get
        Forex Markets &amp; Trading News Today | ForexNews.World</title><style id=\"rocket-critical-css\">.wp-block-media-text
        .wp-block-media-text__media{grid-area:media-text-media;margin:0}.wp-block-media-text
        .wp-block-media-text__content{word-break:break-word;grid-area:media-text-content;padding:0
        8%}@media only screen and (min-width:992px){.pwaforwp-footer-prompt{padding:1%
        3%;flex-direction:row;justify-content:center}}.pwaforwp-footer-prompt{display:none;width:100%;line-height:2em;color:#333;text-align:center;text-decoration:none;min-h[...]
