interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nasdaq.com/api/v1/news-headlines-fetcher/FSR/56/8
  response:
    body:
      string: "<div class=\"quote-news-headlines\" data-symbol=\"\">\n  <ul class=\"quote-news-headlines__list\">\n
        \     </ul>\n\n  <div class=\"pagination-news-headlines\" data-symbol=\"\"
        data-count=\"\">\n    \n<div class=\"pagination\">\n      <button class=\"pagination__previous\"
        aria-label=\"click to go to the previous page\"></button>\n  \n  <div class=\"pagination__pages\">\n
        \         <button class=\"pagination__page\"></button>\n      <span class=\"pagination__ellipsis\"
        aria-hidden=\"true\">...</span>\n      </div>\n\n      <button class=\"pagination__next\"
        aria-label=\"click to go to the next page\"></button>\n  </div>\n\n\n</div>\n\n</div>\n\n\n"
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=UTF-8
      X-AH-Environment:
      - prod
      X-Age:
      - '0'
      X-Akamai-Transformed:
      - 9 240 0 pmb=mRUM,2
      X-EdgeConnect-MidMile-RTT:
      - '100'
      X-EdgeConnect-Origin-MEX-Latency:
      - '335'
      X-Generator:
      - Drupal 8 (https://www.drupal.org)
    status:
      code: 200
      message: OK
version: 1
