interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.investing.com/news/coronavirus/jjs-covid19-vaccine-66-effective-in-large-global-trial-2403317
  response:
    body:
      string: "    <!DOCTYPE HTML>\n    <html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\"
        xml:lang=\"en\" xmlns:schema=\"http://schema.org/\" class=\"com\" lang=\"en\"
        geo=\"US\">\n    <head>\n\t\n\n<script type=\"text/javascript\">\n    function
        OptanonWrapper() { }\n\n    // temp for checks\n    </script>\n<style>\n\t.ot-floating-button
        {\n\t\tz-index:12 !important;\n\t}\n</style>\n\n    <script src=\"https://i-invdn-com.akamaized.net/js/jquery-6.4.9.04.min.js\"></script>\n
        \   <script>\n        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \       [...]
