interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cropwatch.unl.edu/tags/soybean
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"dcf-no-js dcf-no-webp\" lang=\"en\"\
        ><!-- InstanceBegin template=\"/Templates/fixed.dwt\" codeOutsideHTMLIsLocked=\"\
        false\" -->\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"x-ua-compatible\"\
        \ content=\"ie=edge\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1, viewport-fit=cover\">\n<!-- <meta name=\"color-scheme\"\
        \ content=\"dark light\"> -->\n<!--\n  Membership and regular participation\
        \ in the University of Nebraska\u2013Lincoln (UNL) Web Developer Network (WDN)\
        \ is required to use the UNLedu Web Framework. Visit the WDN site at https://wdn.unl.edu/.\
        \ Register for our mailing list and add your site or server to UNL Web Audit.\n\
        \  All framework code is the property of the UNL Web Developer Network. The\
        \ code seen in a source code view is not, and may not be used as, a template.\
        \ You may not use this code, a reverse-engineered version of this code, or\
        \ its associated visual presentation in whole or in part to create a derivative\
        \ work.\n  This message may not be removed from any pages based on the UNLedu\
        \ Web Framework.\n\n  $Id: fixed.dwt | 8754e2081378eac1fd8b92efdff0f0a280977828\
        \ | Tue Jul 14 15:01:36 2020 -0500 | Ryan Dee  $\n-->\n<!-- InstanceBeginEditable\
        \ name=\"doctitle\" -->\n  <title>Soybean | CropWatch</title>\n<!-- InstanceEndEditable\
        \ -->\n<link rel=\"preload\" href=\"https://unlcms.unl.edu/wdn/templates_5.2/css/critical.css?dep=5.2.6\"\
        \ as=\"style\">\n<link id=\"unl-css-critical\" rel=\"stylesheet\" href=\"\
        https://unlcms.unl.edu/wdn/templates_5.2/css/critical.css?dep=5.2.6\">\n<link\
        \ id=\"unl-css-main\" rel=\"preload\" href=\"https://unlcms.unl.edu/wdn/templates_5.2/css/main.css?dep=5.2.6\"\
        \ as=\"style\" onload=\"this.onload=null;this.rel='stylesheet';\">\n<link\
        \ rel=\"preload\" href=\"https://unlcms.unl.edu/wdn/templates_5.2/fonts/liberator/liberator-heavyitalic.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin>\n<link rel=\"preload\" href=\"\
        https://cloud.typography.com/7717652/7106412/css/fonts.css\" as=\"style\"\
        \ onload=\"this.onload=null;this.rel='stylesheet'\">\n<noscript>\n  <link\
        \ rel=\"stylesheet\" href=\"https://unlcms.unl.edu/wdn/templates_5.2/css/main.css?dep=5.2.6\"\
        >\n  <link rel=\"stylesheet\" href=\"https://cloud.typography.com/7717652/7106412/css/fonts.css\"\
        >\n</noscript>\n<style>@charset \"UTF-8\";@font-face{font-family:'liberatorheavy_italic';src:url('https://unlcms.unl.edu/wdn/templates_5.2/fonts/liberator/liberator-heavyitalic.woff2')\
        \ format('woff2'), url('https://unlcms.unl.edu/wdn/templates_5.2/fonts/liberator/liberator-heavyitalic.woff')\
        \ format('woff');font-display:swap}.unl h1.unl-font-display,.unl h2.unl-font-display,.unl\
        \ h3.unl-font-display,.unl h4.unl-font-display,.unl h5.unl-font-display,.unl\
        \ h6.unl-font-display,.unl-font-display{font-family:'Arial Narrow', sans-serif;font-style:italic;letter-spacing:0;margin-left:0;text-transform:uppercase}.unl-fonts-loaded\
        \ .unl h1.unl-font-display,.unl-fonts-loaded .unl h2.unl-font-display,.unl-fonts-loaded\
        \ .unl h3.unl-font-display,.unl-fonts-loaded .unl h4.unl-font-display,.unl-fonts-loaded\
        \ .unl h5.unl-font-display,.unl-fonts-loaded .unl h6.unl-font-display,.unl-fonts-loaded\
        \ .unl-font-display{font-family:'liberatorheavy_italic', 'Arial Narrow', sans-serif;font-style:normal;font-weight:600;text-transform:none}</style>\n\
        <link rel=\"preload\" href=\"https://ucommchat.unl.edu/assets/css?for=client&v=5\"\
        \ as=\"style\">\n<link rel=\"stylesheet\" href=\"https://unlcms.unl.edu/wdn/templates_5.2/css/print.css?dep=5.2.6\"\
        \ media=\"print\">\n<script>\n  !function(t){\"use strict\";t.loadCSS||(t.loadCSS=function(){});var\
        \ e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement(\"\
        link\").relList.supports(\"preload\")}catch(t){e=!1}return function(){return\
        \ e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||\"\
        all\";t.addEventListener?t.addEventListener(\"load\",e):t.attachEvent&&t.attachEvent(\"\
        onload\",e),setTimeout(function(){t.rel=\"stylesh[...]
