interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://growerspoint.com/amvac-releases-new-logos-for-recently-acquired-herbicides/
  response:
    body:
      string: "<!doctype html >\r\n<!--[if IE 8]>    <html class=\"ie8\" lang=\"en\"\
        > <![endif]-->\r\n<!--[if IE 9]>    <html class=\"ie9\" lang=\"en\"> <![endif]-->\r\
        \n<!--[if gt IE 8]><!--> <html lang=\"en-US\"> <!--<![endif]-->\r\n<head>\r\
        \n    <title>AMVAC Releases New Logos For Recently Acquired Herbicides | Growerspoint.com</title>\r\
        \n    <meta charset=\"UTF-8\" />\r\n    <meta name=\"viewport\" content=\"\
        width=device-width, initial-scale=1.0\">\r\n    <link rel=\"pingback\" href=\"\
        https://growerspoint.com/xmlrpc.php\" />\r\n    <meta property=\"og:image\"\
        \ content=\"https://growerspoint.com/wp-content/uploads/2018/09/AmvacChemCorpLogo2.jpg\"\
        \ /><link rel=\"icon\" type=\"image/png\" href=\"https://growerspoint.com/wp-content/uploads/2018/04/favicon.png\"\
        ><link rel=\"apple-touch-icon-precomposed\" sizes=\"76x76\" href=\"https://www.poultryproducer.com/wp-content/uploads/2018/03/76x76.png\"\
        /><link rel=\"apple-touch-icon-precomposed\" sizes=\[...]
