interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.marketwatch.com/investing/stock/twtr/moreheadlines?channel=MarketWatch&pageNumber=
  response:
    body:
      string: "\n\n\n        \n            <mw-scrollable-news-v2 natural class=\"collection
        collection--moreHeadlines j-scrollViewport\">\n            <div class=\"column
        column--primary j-moreHeadlineWrapper\" data-source=\"ChartingSymbol\" data-channel=\"MarketWatch\"
        data-channel-id=\"\" data-realtimefeed=\"\" data-layout-position=\"\" data-tracking=\"\">\n
        \               <div class=\"collection__elements j-scrollElement\">\n\r\n\r\n\r\n\r\n\r\n
        \   <div data-timestamp=\"1612973520000\" data-docid=\"\" data-msgid=\"\"
        data-guid=\"21005575-02d4-d4b5-4572-d2775fa7fdce\" class=\"element element--article
        \">\r\n            <figure class=\"article__figure\">\r\n                <a
        class=\"figure__image\" data-video-guid=\"\" href=\"https://www.marketwatch.com/story/twitter-stock-heads-for-a-seven-year-high-as-analyst-cheers-newfound-swagger-11612973533\">\r\n
        \                   <img class=\"lazyload\" data-sizes=\"auto\" alt=\"Read
        full story\" data-srcset=\"https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=220
        220w,https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=300
        300w,https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=460
        460w,https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=800
        800w,https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=920
        920w,https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=1240
        1240w,https://images.mktw.net/im-274188?size=1.777777777777778&amp;width=1240
        1240w\">\r\n                    \r\n                </a>\r\n                \r\n
        \               \r\n            </figure>\r\n        <div class=\"article__content\">\r\n
        \           \r\n                    <h3 class=\"article__headline\">\r\n                        <a
        class=\"link\" href=\"https://www.marketwatch.com/story/twitter-stock-heads-for-a-seven-year-high-as-analyst-cheers-newfound-swagger-11612973533\">\r\n
        \                           \r\n                            Twitter stock
        closes at seven-year high, as analyst cheers newfound &#x2018;swagger&#x2019;\r\n
        \                       </a>\r\n                    </h3>\r\n            \r\n\r\n
        \           \r\n            <div class=\"article__details\">\r\n                <span
        class=\"article__timestamp\" data-est=\"2021-02-10T11:12:00\">Feb. 10, 2021
        at 11:12 a.m. ET</span>\r\n\r\n                    <span class=\"article__author\">by
        Emily Bary</span>\r\n                \r\n                \r\n            </div>\r\n
        \       </div>\r\n\r\n    </div>\r\n\r\n\r\n\r\n    <div data-timestamp=\"1612994700000\"
        data-docid=\"\" data-msgid=\"\" data-guid=\"af893fc8-6be3-11eb-be9f-058752b2bd99\"
        class=\"element element--article \">\r\n            <figure class=\"article__figure\">\r\n
        \               <a class=\"figure__image\" data-video-guid=\"\" href=\"https://www.[...]
