interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.nasdaq.com/api/v1/news-headlines-fetcher/TWTR/0/8
  response:
    body:
      string: "<div class=\"quote-news-headlines\" data-symbol=\"\">\n  <ul class=\"quote-news-headlines__list\">\n
        \         <li class=\"quote-news-headlines__item\">\n        <a href=\"/articles/twitter-tumblr-vimeo-push-back-against-eu-rules-on-illegal-online-content-2020-12-09\"
        class=\"quote-news-headlines__link\">\n          <span class=\"quote-news-headlines__date\">9
        hours ago</span>\n          <p class=\"quote-news-headlines__item-title\"><span>Twitter,
        Tumblr, Vimeo push back against EU rules on illegal online content</span>\n</p>\n
        \       </a>\n      </li>\n          <li class=\"quote-news-headlines__item\">\n
        \       <a href=\"/articles/c3.ai-ipo%3A-what-investors-need-to-know-2020-12-09\"
        class=\"quote-news-headlines__link\">\n          <span class=\"quote-news-headlines__date\">13
        hours ago</span>\n          <p class=\"quote-news-headlines__item-title\"><span>C3.ai
        IPO: What Investors Need to Know</span>\n</p>\n        </a>\n      </li>\n
        \         <li class=\"quote-news-headlines__item\">\n        <a href=\"/articles/why-li-auto-and-kandi-technologies-jumped-but-ciig-merger-dropped-today-2020-12-08\"
        class=\"quote-news-headlines__link\">\n          <span class=\"quote-news-headlines__date\">20
        hours ago</span>\n          <p class=\"quote-news-headlines__item-title\"><span>Why
        Li Auto and Kandi Technologies Jumped, but CIIG Merg[...]
