interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.agriculture.com/podcast/successful-farming-radio-podcast/figuring-corn-seeds-per-acre
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 9 ]>    <html class=\"lt-ie9 no-js\"
        \ lang=\"en\" dir=\"ltr\"> <![endif]-->\n<!--[if gte IE 9]><!--> <html class=\"no-js\"
        \ lang=\"en\" dir=\"ltr\" > <!--<![endif]-->\n  <head>\n    <!--[if IE]><![endif]-->\n<meta
        charset=\"utf-8\" />\n<link rel=\"dns-prefetch\" href=\"//admin.brightcove.com\"
        />\n<link rel=\"dns-prefetch\" href=\"//cdnjs.cloudflare.com\" />\n<link rel=\"dns-prefetch\"
        href=\"//ajax.googleapis.com\" />\n<link rel=\"shortcut icon\" href=\"https://www.agriculture.com/sites/all/themes/custom/sfg/favicon.ico\"
        />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"
        />\n<link href=\"/sites/all/themes/custom/sfg/img/icons/apple/sfg-touch-icon-ipad-retina.png\"
        rel=\"apple-touch-icon\" sizes=\"152x152\" />\n<link href=\"/sites/all/themes/custom/sfg/img/icons/apple/sfg-touch-icon-ipad.png\"
        rel=\"apple-touch-icon\" sizes=\"76x76\" />\n<link href=\"/sites/all/themes/custom/sfg/img/icons/apple/sfg-touch-icon-iphone-retina.png\"
        rel=\"apple-touch-icon\" sizes=\"120x120\" />\n<link href=\"/sites/all/themes/custom/sfg/img/icons/apple/sfg-touch-icon-iphone.png\"
        rel=\"apple-touch-icon\" sizes=\"60x60\" />\n<meta property=\"fb:pages\" content=\"116073665214311\"
        />\n<meta property=\"fb:app_id\" content=\"1545978839053740\" />\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\" /><script type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"55db0cb698\",applicationID:\"608121443\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function
        r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var
        i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0;i<n.length;i++)r(n[i]);return
        r}({1:[function(e,t,n){function r(){}functio[...]
