interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://investorplace.com/2020/07/ev-news-boosts-spaq-stock-higher/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n\n<head>\n\t<title>\n\t\tEV
        News: Why Spartan Energy (SPAQ) Is Speeding 9% Higher Today | InvestorPlace\t</title>\n\n\t<link
        rel=\"profile\" href=\"http://gmpg.org/xfn/11\" />\n\t\n\t<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\">\n\t<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\"><script type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"37729af97b\",applicationID:\"117864961\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function
        r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var
        i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0;i<n.length;i++)r(n[i]);return
        r}({1:[function(e,t,n){function r(){}functio[...]
