interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.moneycontrol.com/news/business/commodities/buy-ncdex-april-soybean-at-rs-3880quintal-for-target-rs-4200-choice-broking-5091691.html
  response:
    body:
      string: "\n\n\n\n\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\
        \ \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"><html><head><meta\
        \ name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0,\
        \ user-scalable=0\" /><meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\"\
        ><link href=\"https://fonts.googleapis.com/css?family=Noto+Serif:400,700\"\
        \ rel=\"stylesheet\" defer>   <meta charset=\"utf-8\"><title>Buy NCDEX April\
        \ Soybean At Rs 3,880/quintal For Target Rs 4,200: Choice Broking</title><meta\
        \ name=\"description\" content=\"Soybean sowing in United States could be\
        \ delayed amid lockdown situation, however, the demand for Soymeal has substantially\
        \ declined globally due to COVID-19 which is expected to cap major upside\
        \ movement in the coming weeks.\r\n\r\n\" /><meta name=\"news_keywords\" content=\"\
        NCDEX Soybean,CBOT Soybean price,c[...]
