interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.beefmagazine.com/livestock?page=860&infscr=1
  response:
    body:
      string: "<div class=\"js-lazy-pager-content\"><div class=\"category-banner dfp-ad-hideempty
        hidden\"><div class=\"penton-dfp-ads\" data-dfp-position=\"infinitescroll\"></div></div><article
        class=\"article-teaser article-teaser__no-img article-teaser__icon__article\"
        \ data-terms=\"livestock/seedstock\">\n      <div class=\"img-container__empty\"></div>\n
        \ \n  <div class=\"article-teaser__content\">\n    <div class=\"article-teaser__header\">\n
        \             <span class=\"sp-title__empty\"></span>\n                    <span
        class=\"feat-author__empty\"></span>\n            <div class=\"title\">\n
        \       <a href=\"/mag/beef_nichols_onesource_genetics\">Nichols&#039; One-Source
        Genetics</a>      </div>\n              <span class=\"date\">\n          Feb
        01, 1998        </span>\n          </div>\n          <div class=\"summary\">\n
        \       <div class=\"summary-wrapper\">\n          Today, there are scores
        of preconditioning programs with essentially the same purpose - to verify
        that calf health and weaning rules have been followed. But too often producers
        don&#39;t get paid for extra costs involved, and one thing is still...        </div>\n
        \     </div>\n    </article>\n<article class=\"article-teaser article-teaser__icon__article\"
        \ data-terms=\"livestock/beef\">\n      <div class=\"img-container\">\n            <a
        href=\"/beef/4-nutritional-headlines-endorse-meat\"><img class=\"tax_thumbs_standard
        lozad img-responsive js-imgpxr\" data-x2src=\"https://www.beefmagazine.com/sites/beefmagazine.com/files/styles/tax_thumbs_retina/public/beef-sirloin-kabobs-with-r%20copy_0.png?itok=j7XhcBSO\"
        data-src=\"https://www.beefmagazine.com/sites/beefmagazine.com/files/styles/tax_thumbs_retina/public/beef-sirloin-kabobs-with-r%20copy_0.png?itok=j7XhcBSO\"
        width=\"88\" height=\"46\" alt=\"beef-sirloin-kabobs-with-r copy.png\" title=\"beef-sirloin-kabobs-[...]
