interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smarteranalyst.com/stock-page/?slug=twitter
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" lang=\"en-US\"> <!--<![endif]-->\n\t<head>\n\t\t\t\t<title>NYSE
        | TWTR: Stock News, Ratings & Analysis for Twitter</title>\n\t\t<meta name=\"theme-color\"
        content=\"#1b4e82\"/>\n    <!-- Default Meta Tags -->\n\t\t<meta charset=\"UTF-8\">\n\n<link
        href=\"//www.google-analytics.com\" rel=\"dns-prefetch\">\n\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0,user-scalable=yes\">\n\n\n<link
        rel=\"shortcut icon\" href=\"https://www.smarteranalyst.com/wp-content/uploads/2015/07/favicon.png\">\t\t\n\n\n\n\n<link
        rel=\"pingback\" href=\"https://www.smarteranalyst.com/xmlrpc.php\" />\n\n\t\t\t\t\n\t\n\n\t\t<!--
        css + javascript -->\n\t\t\n\n                <link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css\"
        />\n\n\n\t\t<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and
        media queries -->\n\t\t<!--[if lt IE 9]>\n\t\t\t<script src=\"//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js\"></script>\n\t\t\t<script
        src=\"//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js\"></script>\n
        \t\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.js\"></script>\n\n\n\t\t<![endif]-->\n\n\t\t\n\n\t\n\n
        \t\n\t\t                        <script>\n                            /* You
        can add more configuration options to webfontloader by previous[...]
