interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.marketwatch.com/investing/stock/AMZN/moreheadlines?channel=MarketWatch&pageNumber=0
  response:
    body:
      string: "\n\n\n        \n            <mw-scrollable-news-v2 natural class=\"collection
        collection--moreHeadlines j-scrollViewport\">\n            <div class=\"column
        column--primary j-moreHeadlineWrapper\" data-source=\"ChartingSymbol\" data-channel=\"MarketWatch\"
        data-channel-id=\"\" data-realtimefeed=\"\" data-layout-position=\"\" data-tracking=\"\">\n
        \               <div class=\"collection__elements j-scrollElement\">\n\r\n\r\n\r\n\r\n\r\n
        \   <div data-timestamp=\"1625687700000\" data-docid=\"\" data-msgid=\"\"
        data-guid=\"20c05575-04d4-b545-7503-610fa42be716\" class=\"element element--article
        \  \">\n            <figure class=\"article__figure\">\n                \n
        \               <a class=\"figure__image\" data-video-guid=\"\" href=\"https://www.marketwatch.com/story/the-jedi-reboot-allows-u-s-to-correct-its-mistake-11625687703\">\n
        \                   <img class=\"lazyload\" data-sizes=\"auto\" alt=\"Read
        full story\" data-srcset=\"https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=220
        220w,https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=300
        300w,https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=460
        460w,https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=800
        800w,https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=920
        920w,https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=1240
        1240w,https://images.mktw.net/im-258235?size=1.777777777777778&amp;width=1240
        1240w\">\n                    \n                </a>\n                \n                \n
        \           </figure>\n        <div class=\"article__content\">\n            <span
        class=\"article__label opinion\">\nOpinion            </span>\n                    <h3
        class=\"article__headline\">\n                        <a class=\"link\" href=\"https://www.marketwatch.com/story/the-jedi-reboot-allows-u-s-to-correct-its-mistake-11625687703\">\n
        \                           \n                            The JEDI reboot
        allows U.S. to correct its mistake\n                        </a>\n                    </h3>\n
        \           \n\n            \n            <div class=\"article__details\">\n
        \               <span class=\"article__timestamp\" data-est=\"2021-07-07T15:55:00\">Jul.
        7, 2021 at 3:55 p.m. ET</span>\n\n                    <span class=\"article__author\">by
        Therese Poletti</span>\n                \n            </div>\n        </div>\n\n
        \   </div>\n\r\n\r\n\r\n    <div data-timestamp=\"1625592540000\" data-docid=\"\"
        data-msgid=\"\" data-guid=\"20c05575-04d4-b545-74f6-2763fd84291c\" class=\"element
        element--article   \">\n            <figure class=\"articl[...]
