interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://extension.psu.edu/shopby/articles?limit=50&p=108
  response:
    body:
      string: "<!DOCTYPE html><!--[if lt IE 7 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie6\"> <![endif]--> <!--[if IE 7 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie7\"> <![endif]--> <!--[if IE 8 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie8\"> <![endif]--> <!--[if IE 9 ]><html lang=\"en\" id=\"top\" class=\"\
        no-js ie9\"> <![endif]--> <!--[if (gt IE 9)|!(IE)]><!--><html lang=\"en\"\
        \ id=\"top\" class=\"no-js\"> <!--<![endif]--><head><meta http-equiv=\"Content-Type\"\
        \ content=\"text/html; charset=utf-8\" /><title>Articles</title><meta name=\"\
        description\" content=\"View web articles from Penn State Extension to expand\
        \ knowledge, solve problems, and learn new science-based methodologies.\"\
        \ /><meta name=\"keywords\" content=\"articles, penn state extension\" /><meta\
        \ name=\"robots\" content=\"INDEX,FOLLOW\" /><link rel=\"icon\" href=\"https://extension.psu.edu/media/favicon/default/favicon.png\"\
        \ type=\"image/x-icon\" /><link rel=\"shortcut icon\" href=\"https://extension.psu.edu/media/favicon/default/favicon.png\"\
        \ type=\"image/x-icon\" /><link rel=\"stylesheet\" type=\"text/css\" media=\"\
        all\" href=\"https://extension.psu.edu/media/po_compressor/42ad958dbe2c7e3db3fb53e1462bd99e.css\"\
        \ /><link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"//use.fontaweso[...]
