interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://texascorn.org/texas-corn-farmers-to-take-national-appointments-3/
  response:
    body:
      string: "<!doctype html>\n\n<html lang=\"en-US\" class=\"no-js\">\n<head>\n\n<!--
        Meta Tags -->\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"
        />\n\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1,
        maximum-scale=1, user-scalable=0\" />\n\t\n\n<!--Shortcut icon-->\n<title>Texas
        corn farmers to take national appointments &#8211; Texas Corn Producers</title>\n<link
        rel='dns-prefetch' href='//fonts.googleapis.com' />\n<link rel='dns-prefetch'
        href='//s.w.org' />\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Texas Corn Producers &raquo; Feed\" href=\"https://texascorn.org/feed/\"
        />\n<link rel=\"alternate\" type=\"text/calendar\" title=\"Texas Corn Producers
        &raquo; iCal Feed\" href=\"https://texascorn.org/events/?ical=1\" />\n<meta
        property='og:site_name' content='Texas Corn Producers'/><meta property='og:url'
        content='https://texascorn.org/texas-corn-farmers-to-take-national-appointments-3/'/><meta
        property='og:title' content='Texas corn farmers to take national appointments'/><meta
        property='og:type' content='article'/><meta property='og:image' content='https://texascorn.org/wp/wp-content/uploads/2020/10/NCGAActionTeam2020-1024x576.jpg'/>\t\t<script
        type=\"text/javascript\">\n\t\t\twindow._wpemojiSettings = {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/12.0.0-1\\/72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/12.0.0-1\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"https:\\/\\/texascorn.org\\/wp\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=5.4.4\"}};\n\t\t\t/*!
        This file is auto-generated */\n\t\t\t!function(e,a,t){var r,n,o,i,p=a.createElement(\"canvas\"),s=p.getContext&&p.getContext(\"2d\");function
        c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var
        r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function
        l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline=\"top\",s.font=\"600
        32px Arial\",e){case\"flag\":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case\"emoji\":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function
        d(e){var t=a.createElement(\"script\");t.src=e,t.defer=t.type=\"text/javascript\",a.getElementsByTagName(\"head\")[0].appendChild(t)}for(i=Array(\"flag\",\"emoji\"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o][...]
