interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://investors.waitrapp.com/news-events/news-releases?a9d908dd_year%5Bvalue%5D=_none&page=6
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\"\
        >\n  <head>\n    <meta charset=\"utf-8\" /><script type=\"text/javascript\"\
        >(window.NREUM||(NREUM={})).loader_config={licenseKey:\"761e715901\",applicationID:\"\
        32397309\"};window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function\
        \ r(n){if(!t[n]){var i=t[n]={exports:{}};e[n][0].call(i.exports,function(t){var\
        \ i=e[n][1][t];return r(i||t)},i,i.exports)}return t[n].exports}if(\"function\"\
        ==typeof __nr_require)return __nr_require;for(var i=0;i<n.length;i++)r(n[i]);return\
        \ r}({1:[functio[...]
