interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://soygrowers.com/news-releases/36th-young-leader-class-kicks-off-in-indianapolis/
  response:
    body:
      string: "  <!DOCTYPE html>\n<htmllang=&quot;en-US&quot; class=\"no-js\">\n<head>\n\
        \    <!--\n          \u25B2\n         \u25E2\u25AE\u25E3          \u2588\u2588\
        \u2588\u2588\u2588\u2588  \u2588\u2588\u2588\u2588\u2588\u2588\n    \u25E5\
        \u25AE\u25AE\u25AE\u25AE\u25AE\u25AE\u25AE\u25AE\u25AE\u25AE\u25AE\u25E4 \
        \    \u2588\u2588   \u2588\u2588      \u2588\u2588\n      \u25E5\u25AE\u25AE\
        \u25AE\u25AE\u25AE\u25AE\u25AE\u25E4       \u2588\u2588\u2588\u2588\u2588\u2588\
        \   \u2588\u2588\u2588\u2588\u2588\n      \u25E2\u25AE\u25AE\u25E4 \u25E5\u25AE\
        \u25AE\u25E3       \u2588\u2588           \u2588\u2588\n     \u25E2\u25AE\u25E4\
        \     \u25E5\u25AE\u25E3      \u2588\u2588      \u2588\u2588\u2588\u2588\u2588\
        \u2588\n   Created By: propaganda3.com\n   -->\n    <meta charset=\"UTF-8\"\
        >\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta\
        \ name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,\
        \ user-scalable=no\">    <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\"\
        >\n    <title>36th Young Leader Class Kicks Off in Indianapolis | American\
        \ Soybean Association</title>    <meta name=\"msapplication-TileColor\" content=\"\
        #ffffff\">\n    <meta name=\"msapplication-TileImage\" content=\"https://soygrowers.com/wp-content/themes/tardigrade/images/ms-icon-144x144.png\"\
        >    <meta name=\"theme-color\" content=\"#ffffff\">\n<!-- Google Tag Manager\
        \ for WordPress by gtm4wp.com -->\n<script data-cfasync=\"false\" data-pagespeed-no-defer>//<![CDATA[\n\
        \tvar gtm4wp_datalayer_name = \"dataLayer\";\n\tvar dataLayer = dataLayer\
        \ || [];\n//]]>\n</script>\n<!-- End Google Tag Manager for WordPress by gtm4wp.com\
        \ -->\n\t<!-- This site is optimized with the Yoast SEO plugin v15.2.1 - https://yoast.com/wordpress/plugins/seo/\
        \ -->\n\t<meta name=\"description\" content=\"Washington, D.C. Jan. 7, 2020.\
        \ The 36th class of American Soybean Association (ASA) Corteva Agriscience\
        \ Young Leaders recently began its leadership\" />\n\t<meta name=\"robots\"\
        \ content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"\
        \ />\n\t<link rel=\"canonical\" href=\"https://soygrowers.com/news-releases/36th-young-leader-class-kicks-off-in-indianapolis/\"\
        \ />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"\
        og:type\" content=\"article\" />\n\t<meta property=\"og:title\" content=\"\
        36th Young Leader Class Kicks Off in Indianapolis | American Soybean Association\"\
        \ />\n\t<meta property=\"og:description\" content=\"Washington, D.C. Jan.\
        \ 7, 2020. The 36th class of American Soybean Association (ASA) Corteva Agriscience\
        \ Young Leaders recently began its leadership\" />\n\t<meta property=\"og:url\"\
        \ content=\"https://soygrowers.com/news-releases/36th-young-leader-class-kicks-off-in-indianapolis/\"\
        \ />\n\t<meta property=\"og:site_name\" content=\"American Soybean Association\"\
        \ />\n\t<meta property=\"article:publisher\" content=\"https://www.facebook.com/AmericanSoybeanAssociation\"\
        \ />\n\t<meta name=\"twitter:card\" content=\"summary_large_image\" />\n\t\
        <meta name=\"twitter:creator\" content=\"@ASA_Soybeans\" />\n\t<meta name=\"\
        twitter:site\" content=\"@ASA_Soybeans\" />\n\t<meta name=\"twitter:label1\"\
        \ content=\"Written by\">\n\t<meta name=\"twitter:data1\" content=\"Jordan\
        \ Bright\">\n\t<meta name=\"twitter:label2\" content=\"Est. reading time\"\
        >\n\t<meta name=\"twitter:data2\" content=\"2 minutes\">\n\t<script type=\"\
        application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\"\
        ,\"@graph\":[{\"@type\":\"Organization\",\"@id\":\"https://soygrowers.com/#organization\"\
        ,\"name\":\"American Soybean Association\",\"url\":\"https://soygrowers.com/\"\
        ,\"sameAs\":[\"https://www.facebook.com/AmericanSoybeanAssociation\",\"https://www.instagram.com/americansoybeanassociation/\"\
        ,\"https://www.youtube.com/user/americansoybeanassoc?feature=watch\",\"https://twitter.com/ASA_Soybeans\"\
        ],\"logo\":{\"@type\":\"ImageObject\",\"@id\":\"https://soygrowers.com/#logo\"\
        ,\"inLanguage\":\"en-US\",\"url\":\"https://soygrowers.com/wp-content/uploads/2019/03/ASA-logo-600ppi-x-313ppi.jpg\"\
        ,\"width\":600,\"height\":313,\"caption\":\"American Soybean Association\"\
        },\"image\":{\"@id\":\"https://soygrowers.com/#logo\"}},{\"@type\":\"WebSite\"\
        ,\"@id\":\"https://soygrowers.com/#website\",\"url\":\"https://soygrowers.com/\"\
        ,\"name\":\"American Soybean Association\",\"description\":\"Meeting the demands\
        \ of a growing world\",\"publisher\":{\"@id\":\"https://soygrowers.com/#organization\"\
        },\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":\"https://soygrowers.com/?s={search_term_string}\"\
        ,\"query-input\":\"required name=search_term_string\"}],\"inLanguage\":\"\
        en-US\"},{\"@type\":\"WebPage\",\"@id\":\"https://soygrowers.com/news-releases/36th-young-leader-class-kicks-off-in-indianapolis/#webpage\"\
        ,\"url\":\"https://soygrowers.com/news-releases/36th-young-leader-class-kicks-off-in-indianapolis/\"\
        ,\"name\":\"36th Young Leader Class Kicks Off in Indianapolis | American Soybean\
        \ Association\",\"isPartOf\":{\"@id\":\"https://soygrowers.com/#website\"\
        },\"datePublished\":\"2020-01-07T14:49:25+00:00\",\"dateModified\":\"2020-01-07T14:49:25+00:00\"\
        ,\"description\":\"Washington, D.C. Jan. 7, 2020. The 36th class of American\
        \ Soybean Association (ASA) Corteva Agriscience Young Leaders recently began\
        \ its leadership\",\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\"\
        :\"ReadAction\",\"target\":[\"https://soygrowers.com/news-releases/36th-young-leader-class-kicks-off-in-indianapolis/\"\
        ]}]}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch'\
        \ href='//cdnjs.cloudflare.com' />\n<link rel='dns-prefetch' href='//s.w.org'\
        \ />\n\t\t<script type=\"text/javascript\">\n\t\t\twindow._wpemojiSettings\
        \ = {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.0\\\
        /72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\\
        /emoji\\/13.0.0\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\"\
        :\"https:\\/\\/soygrowers.com\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=5.5.3\"\
        }};\n\t\t\t!function(e,a,t){var r,n,o,i,p=a.createElement(\"canvas\"),s=p.getContext&&p.getContext(\"\
        2d\");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var\
        \ r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function\
        \ l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline=\"top\",s.font=\"\
        600 32px Arial\",e){case\"flag\":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case\"\
        emoji\":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function\
        \ d(e){var t=a.createElement(\"scr[...]
