interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gurufocus.com/news/779572/weekly-cfo-sells-highlight
  response:
    body:
      string: " <!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\n     \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta http-equiv=\"Cache-control\"
        content=\"public\" />\n<meta name=\"apple-itunes-app\" content=\"app-id=1054144526\"
        />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
        maximum-scale=1.0, minimum-scale=0.6, user-scalable=yes\" />\n<meta property=\"og:image\"
        content=\"https://static.gurufocus.com/photos/gurus/guru_logo_square.jpg\"
        />\n<script>\n            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n
        \                               ga('create', 'UA-21017515-1', 'auto');\n                  //Google
        Optimize\n                  ga('require', 'GTM-5KZM8WM');\n                  //Tag
        Manager\n                  //ga('require', 'GTM-K799DP4');\n                  ga('send',
        'pageview');\n                                         </script>\n\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \       })(window,document,'script','dataLayer','GTM-K799DP4');</script>\n\n<meta
        name=\"description\" content=\"Weekly CFO Sells Highlight, Stocks: TWTR,DATA,FB,
        release date:Dec 02, 2018\" /><title>Weekly CFO Sells Highlight - GuruFocus.com</title>
        <script type=\"text/javascript\">\n             this.top.location !== this.location
        && (this.top.location = this.location);\n         </script>\n<link href=\"//apis.gurufocus.com/css/main.css?5.9.37.1234\"
        rel=\"stylesheet\" type=\"text/css\" />\n\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/apis/css/combined/header.min.css?0909\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css\"
        />\n<link href=\"//www.gurufocus.com/rss.php\" rel=\"alternate\" title=\"GuruFocus
        New Articles\" type=\"application/rss+xml\" />\n<link href=[...]
