interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.babypips.com/news/almost-80-percent-of-retail-traders-are-unprofitable
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang='en' locale='en-US' og='http://ogp.me/ns#'>\n\
        <head>\n<title>Data Confirms Grim Truth: 70-80% of Retail Traders are Unprofitable\
        \ - BabyPips.com</title>\n<meta content='Recent data disclosed by trading\
        \ platforms show that, on average, out of every 10 retail traders, only 2-3\
        \ succeed.' name='Description'>\n<meta content='text/html; charset=UTF-8'\
        \ http-equiv='Content-Type'>\n<meta content='width=device-width, initial-scale=1.0,\
        \ minimum-scale=1.0, maximum-scale=1.0' name='viewport'>\n<link href='https://bpcdn.co'\
        \ rel='preconnect'>\n<link href='https://cdn.ampproject.org' rel='preconnect'>\n\
        <link href='https://fonts.googleapis.com' rel='preconnect'>\n<link href='https://pagead2.googlesyndication.com'\
        \ rel='preconnect'>\n<link href='https://securepubads.g.doubleclick.net' rel='preconnect'>\n\
        <link href='https://tpc.googlesyndication.com' rel='preconnect'>\n<link href='https://www.google.com'\
        \ rel='preconnect'>\n<link href='https://www.googletagservices.com' rel='preconnect'>\n\
        <link href='https://www.google-analytics.com' rel='preconnect'>\n<link rel=\"\
        preload\" href=\"https://bpcdn.co/packs/media/fonts/vagrundschriftd-webfont-4bde6361fd7d00f157f46fca6b87664e.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\">\n<link rel=\"\
        preload\" href=\"https://bpcdn.co/packs/media/fonts/vagrundschriftd-lig-webfont-9dc61996254af7f97008a18d0ebbd690.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\">\n<link rel=\"\
        preload\" href=\"https://bpcdn.co/packs/js/article-41c454f155729848d41e.chunk.js\"\
        \ as=\"script\" type=\"text/javascript\"><link rel=\"preload\" href=\"https://bpcdn.co/packs/js/polls-4d5992b1a7a18b5989bb.chunk.js\"\
        \ as=\"script\" type=\"text/javascript\"><link rel=\"preload\" href=\"https://bpcdn.co/packs/js/application-ccf39f7c5e697e8e763a.chunk.js\"\
        \ as=\"script\" type=\"text/javascript\">\n\n<script type=\"application/ld+json\"\
        \ data-schema=\"WebSite\">{\"@context\":\"https://schema.org\",\"@type\":\"\
        WebSite\",\"name\":\"BabyPips.com\",\"url\":\"https://www.babypips.com/\"\
        ,\"potentialAction\":{\"@type\":\"SearchAction\",\"target\":\"https://www.babypips.com/search?q={search_term_string}\"\
        ,\"query-input\":\"required name=search_term_string\"}}</script>\n<script\
        \ type=\"application/ld+json\" data-schema=\"Organization\">{\"@context\"\
        :\"https://schema.org\",\"@type\":\"Organization\",\"name\":\"BabyPips.com\"\
        ,\"url\":\"https://www.babypips.com/\",\"logo\":\"https://bpcdn.co/packs/media/images/organization-logo-72f6ba47a56e8c7aa3a5c47880eb330b.png\"\
        ,\"sameAs\":[\"https://facebook.com/babypips\",\"https://twitter.com/babypips\"\
        ]}</script>\n<link rel=\"canonical\" href=\"https://www.babypips.com/news/almost-80-percent-of-retail-traders-are-unprofitable\"\
        \ /><link rel=\"original-source\" content=\"https://www.babypips.com/news/almost-80-percent-of-retail-traders-are-unprofitable\"\
        \ /><meta name=\"robots\" content=\"noodp,max-image-preview:large\" /><meta\
        \ property=\"og:locale\" content=\"en_US\" /><meta property=\"og:site_name\"\
        \ content=\"BabyPips.com\" /><meta property=\"og:url\" content=\"https://www.babypips.com/news/almost-80-percent-of-retail-traders-are-unprofitable\"\
        \ /><meta property=\"og:type\" content=\"article\" /><meta property=\"og:title\"\
        \ content=\"Data Confirms Grim Truth: 70-80% of Retail Traders are Unprofitable\"\
        \ /><meta property=\"og:description\" content=\"Recent data disclosed by trading\
        \ platforms show that, on average, out of every 10 retail traders, only 2-3\
        \ succeed.\" /><meta property=\"og:image\" content=\"https://bpcdn.co/images/2019/02/09111259/Retail-Traders-Unprofitable-Promo-Facebook.png\"\
        \ /><meta property=\"article:publisher\" content=\"https://facebook.com/babypips\"\
        \ /><meta property=\"article:section\" content=\"News\" /><meta property=\"\
        article:published_time\" content=\"2019-02-09T15:30:53Z\" /><meta property=\"\
        twitter:card\" content=\"summary_large_image\" /><meta property=\"twitter:site\"\
        \ content=\"babypips\" /><meta property=\"twitter:title\" content=\"Data Confirms\
        \ Grim Truth: 70-80% of Retail Traders are Unprofitable\" /><meta property=\"\
        twitter:description\" content=\"Recent data disclosed by trading platforms\
        \ show that, on average, out of every 10 retail traders, only 2-3 succeed.\"\
        \ /><meta property=\"twitter:image\" content=\"https://bpcdn.co/images/2019/02/09111259/Retail-Traders-Unprofitable-Promo-Facebook.png\"\
        \ /><script type=\"application/ld+json\" data-schema=\"NewsArticle\">{\"@context\"\
        :\"https://schema.org\",\"@type\":\"NewsArticle\",\"mainEntityOfPage\":{\"\
        @type\":\"WebPage\",\"@id\":\"https://www.babypips.com/news/almost-80-percent-of-retail-traders-are-unprofitable\"\
        },\"headline\":\"Data Confirms Grim Truth: 70-80% of Retail Traders are Unprofitable\"\
        ,\"description\":\"Recent data disclosed by trading platforms show that, on\
        \ average, out of every 10 retail traders, only 2-3 succeed.\",\"image\":{\"\
        @type\":\"ImageObject\",\"url\":\"https://bpcdn.co/images/2019/02/09105903/unprofitable-retail-traders-80-percent.png\"\
        ,\"width\":720,\"height\":405},\"author\":{\"@type\":\"Person\",\"name\":\"\
        Forex Ninja\",\"url\":\"https://www.babypips.com/authors/forexninja\"},\"\
        publisher\":{\"@type\":\"Organization\",\"name\":\"BabyPips.com\",\"logo\"\
        :{\"@type\":\"ImageObject\",\"url\":\"https://bpcdn.co/packs/media/images/publisher-logo-37a80988fd37fbcb10ae88121194ff69.png\"\
        ,\"width\":224,\"height\":60}},\"datePublished\":\"2019-02-09T15:30:53.000Z\"\
        ,\"dateModified\":\"2019-07-03T01:58:04.000Z\"}</script><script type=\"application/ld+json\"\
        \ data-schema=\"BreadcrumbList\">{\"@context\":\"https://schema.org\",\"@type\"\
        :\"BreadcrumbList\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\"\
        :1,\"item\":{\"@id\":\"https://www.babypips.com/news\",\"name\":\"News\"}},{\"\
        @type\":\"ListItem\",\"position\":2,\"item\":{\"@id\":\"https://www.babypips.com/news/almost-80-percent-of-retail-traders-are-unprofitable\"\
        ,\"name\":\"Data Confirms Grim Truth: 70-80% of Retail Traders are Unprofitable\"\
        }}]}</script>\n<link rel=\"stylesheet\" media=\"screen\" href=\"https://bpcdn.co/packs/css/article-7ac1542a.chunk.css\"\
        \ />\n<link rel=\"stylesheet\" media=\"screen\" href=\"https://bpcdn.co/packs/css/47-05ff7c1a.chunk.css\"\
        \ />\n<link rel=\"stylesheet\" media=\"screen\" h[...]
