interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://agfax.com/2020/06/29/dtn-grain-open-mixed-as-reports-forecasts-loom/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\"\
        >\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"\
        >\n<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n<title>DTN Grain\
        \ Open: Mixed as Reports, Forecasts Loom &#8211; AgFax</title>\n<meta property=\"\
        og:description\" content=\"Pre-6 a.m. Globex Prices: July corn is up 2 3/4\
        \ cents per bushel, July soybeans are down 3 1/4 cents, and September KC wheat\
        \ is down 1 cent. CME Globex\"><meta property=\"og:title\" content=\"DTN Grain\
        \ Open: Mixed as Reports, Forecasts Loom\"><meta name='image' property='og:image'\
        \ content='https://agfax.com/wp-content/uploads/vegetative_corn_field_penn_state.jpg'><meta\
        \ property=\"fb:app_id\" content=\"529576650555031\[...]
