interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ag.purdue.edu/commercialag/ageconomybarometer/category/report/
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"\
        http://www.w3.org/TR/html4/loose.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\"\
        \ class=\"no-js\" lang=\"en\">\r\n<head>\r\n\r\n\r\n\r\n\r\n<meta content=\"\
        text/html; charset=UTF-8\" http-equiv=\"Content-Type\"/>\r\n<meta charset=\"\
        utf-8\"/>\r\n<meta content=\"IE=edge\" http-equiv=\"X-UA-Compatible\"/>\r\n\
        <meta content=\"width=device-width, user-scalable=no\" name=\"viewport\"/>\r\
        \n<title>\r\nReports Archives | Ag Economy BarometerPurdue University Ag Economy\
        \ Barometer\r\n\r\n</title>\r\n<link href=\"favicon.ico\" rel=\"shortcut icon\"\
        /><script async=\"true\" src=\"https://www.purdue.edu/purdue/globals/js/modernizr-1.5.min.js\"\
        \ type=\"text/javascript\">\r\n</script>\r\n<!-- Bootstrap core CSS -->\r\n\
        <link href=\"https://ag.purdue.edu/commercialag/ageconomybarometer/wp-content/themes/child_theme/style.css\"\
        \ rel=\"stylesheet\">\r\n\r\n<!-- HTML5 shim and Respond.js IE8 support of\
        \ HTML5 elements and media queries -->\r\n<!--[if lt IE 9]>\r\n  <script src=\"\
        js/html5shiv.js\"></script>\r\[...]
