interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://investors.fiskerinc.com/news/news-details/2020/Dan-Galves-Appointed-Vice-President-Investor-Relations-at-Fisker-Inc/default.aspx
  response:
    body:
      string: "<!DOCTYPE HTML>\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"\
        en-US\" xml:lang=\"en-US\">\r\n<head><title>\r\n\tFisker - Dan Galves Appointed\
        \ Vice President, Investor Relations at Fisker Inc.\r\n</title><meta content=\"\
        text/html; charset=UTF-8\" http-equiv=\"Content-type\" /><meta content=\"\
        RevealTrans(Duration=0,Transition=0)\" http-equiv=\"Page-Enter\" /><meta content=\"\
        IE=edge,chrome=1\" http-equiv=\"X-UA-Compatible\" /><script type=\"text/javascript\"\
        >window.NREUM||(NREUM={});NREUM.info = {\"beacon\":\"bam-cell.nr-data.net\"\
        ,\"errorBeacon\":\"bam-cell.nr-data.net\",\"licenseKey\":\"4b6f7f959c\",\"\
        applicationID\":\"229922501\",\"transactionName\":\"b1xWMUIDWBdWARFYX1YWdTZgTVIBUQMQXUQWWEcVSA==\"\
        ,\"queueTime\":0,\"applicationTime\":1211,\"agent\":\"\",\"atts\":\"\"}</script><script\
        \ type=\"text/javascript\">(window.NREUM||(NREUM={})).init={privacy:{cookies_enabled:false}};(window.NREUM||(NREUM={})).loader_config={xpid:\"\
        VQYBUlRVChACVlhbBQMCVlU=\",licenseKey:\"4b6f7f959c\",applicationID:\"229922501\"\
        };window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var\
        \ i=e[n]={exports:{}};t[n][0].call(i.exports,function(e){var i=t[n][1][e];return\
        \ r(i||e)},i,i.exports)}return e[n].exports}[...]
