interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.thecropsite.com/news/17337/australian-farmers-supportive-of-foreign-investment/
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"\
        http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"\
        http://www.w3.org/1999/xhtml\" xml:lang=\"en\" lang=\"en\"><head><meta http-equiv=\"\
        Content-Type\" content=\"text/html; charset=utf-8\" /><link rel=\"shortcut\
        \ icon\" href=\"/favicon.ico\" type=\"image/x-icon\" /><title>Australian Farmers\
        \ Supportive of Foreign Investment - The Crop Site</title><meta name=\"description\"\
        \ content=\"AUSTRALIA- Farmers from Western Australia are overwhelmingly supportive\
        \ of Chinese and other foreign investment, new research has revealed.\" /><base\
        \ href=\"/news/\" /><link rel=\"alternate\" type=\"application/rss+xml\" title=\"\
        RSS - News\" href=\"/rss/news.php\" /><link rel=\"alternate\" type=\"application/rss+xml\"\
        \ title=\"RSS - Articles\" href=\"/rss/articles.php\" /><link rel=\"alternate\"\
        \ type=\"application/rss+xml\" title=\"RSS - Articles + News\" href=\"/rss/all.php\"\
        \ /><link type=\"text/css\" rel=\"stylesheet\" href=\"/css/ui/jquery-ui.css\"\
        \ media=\"all\" /><link type=\"text/css\" rel=\"stylesheet\" href=\"/css/global.css?1503495380\"\
        \ media=\"all\" /><link type=\"text/css\" rel=\"stylesheet\" href=\"/css/jquery.colorbox.css?1503495381\"\
        \ media=\"all\" /><link type=\"text/css\" rel=\"stylesheet\" href=\"/css/editor-content.css?1503495380\"\
        \ media=\"all\" /><link type=\"text/css\" rel=\"stylesheet\" href=\"/css/jquery.megamenu.css?1503495381\"\
        \ media=\"all\" /><link type=\"text/css\" rel=\"stylesheet\" href=\"/css/skin-2012.css?1503495381\"\
        \ media=\"all\" /><!--[if IE 6]><link type=\"text/css\" rel=\"stylesheet\"\
        \ href=\"/css/ie6.css?1503495381\" media=\"all\" /><![endif]--><script type=\"\
        text/javascript\" src=\"/js/jquery.js\"></script><script type=\"text/javascript\"\
        \ src=\"/js/jquery-ui.js\"></script><script type=\"text/javascript\" src=\"\
        /js/jquery.colorbox.js?1503495381\"></script><script type=\"text/javascript\"\
        \ src=\"/js/global.js?1503495381\"></script><script type=\"text/javascript\"\
        \ src=\"/js/jquery.megamenu.js?1503495381\"></script><script type=\"text/javascript\"\
        \ src=\"/js/headerslideshow.js?15034953[...]
