interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://insideevs.com/fisker/karma/news/?p=3
  response:
    body:
      string: "<!DOCTYPE html><html prefix=\"og: http://ogp.me/ns#\" lang=\"en\">\n<head>\n
        \   <meta charset=\"utf-8\">\n    <title>Fisker Karma News Articles and Press
        Releases</title>\n\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\"
        href=\"https://cdn.motor1.com/images/static/insideevs/favicon-32.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"96x96\" href=\"https://cdn.motor1.com/images/static/insideevs/favicon-96.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"128x128\" href=\"https://cdn.motor1.com/images/static/insideevs/favicon-128.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"195x195\" href=\"https://cdn.[...]
