interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.babypips.com/news/693
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang='en' locale='en-US' og='http://ogp.me/ns#'>\n\
        <head>\n<title>Forex Market News - BabyPips.com</title>\n<meta content='Forex\
        \ news you can use! Follow all the latest forex news at BabyPips.com.' name='Description'>\n\
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>\n<meta\
        \ content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'\
        \ name='viewport'>\n<link href='https://bpcdn.co' rel='preconnect'>\n<link\
        \ href='https://cdn.ampproject.org' rel='preconnect'>\n<link href='https://fonts.googleapis.com'\
        \ rel='preconnect'>\n<link href='https://pagead2.googlesyndication.com' rel='preconnect'>\n\
        <link href='https://securepubads.g.doubleclick.net' rel='preconnect'>\n<link\
        \ href='https://tpc.googlesyndication.com' rel='preconnect'>\n<link href='https://www.google.com'\
        \ rel='preconnect'>\n<link href='https://www.googletagservices.com' rel='preconnect'>\n\
        <link href='https://www.google-analytics.com' rel='preconnect'>\n<link rel=\"\
        preload\" href=\"https://bpcdn.co/packs/media/fonts/vagrundschriftd-webfont-4bde6361fd7d00f157f46fca6b87664e.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\">\n<link rel=\"\
        preload\" href=\"https://bpcdn.co/packs/media/fonts/vagrundschriftd-lig-webfont-9dc61996254af7f97008a18d0ebbd690.woff2\"\
        \ as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\">\n<link rel=\"\
        preload\" href=\"https://bpcdn.co/packs/js/polls-4d5992b1a7a18b5989bb.chunk.js\"\
        \ as=\"script\" type=\"text/javascript\"><link rel=\"preload\" href=\"https://bpcdn.co/packs/js/application-ccf39f7c5e697e8e763a.chunk.js\"\
        \ as=\"script\" type=\"text/javascript\">\n\n<script type=\"application/ld+json\"\
        \ data-schema=\"WebSite\">{\"@context\":\"https://schema.org\",\"@type\":\"\
        WebSite\",\"name\":\"BabyPips.com\",\"url\":\"https://www.babypips.com/\"\
        ,\"potentialAction\":{\"@type\":\"SearchAction\",\"target\":\"https://www.babypips.com/search?q={search_term_string}\"\
        ,\"query-input\":\"required name=search_term_string\"}}</script>\n<script\
        \ type=\"application/ld+json\" data-schema=\"Organization\">{\"@context\"\
        :\"https://schema.org\",\"@type\":\"Organization\",\"name\":\"BabyPips.com\"\
        ,\"url\":\"https://www.babypips.com/\",\"logo\":\"https://bpcdn.co/packs/media/images/organization-logo-72f6ba47a56e8c7aa3a5c47880eb330b.png\"\
        ,\"sameAs\":[\"https://facebook.com/babypips\",\"https://twitter.com/babypips\"\
        ]}</script>\n<link rel=\"canonical\" href=\"https://www.babypips.com/news\"\
        \ /><link rel=\"alternate\" type=\"application/rss+xml\" title=\"RSS\" href=\"\
        https://www.babypips.com/news/feed.rss\" /><link rel=\"alternate\" type=\"\
        application/atom+xml\" title=\"ATOM\" href=\"https://www.babypips.com/news/feed.atom\"\
        \ /><meta property=\"og:locale\" content=\"en_US\" /><meta property=\"og:site_name\"\
        \ content=\"BabyPips.com\" /><meta property=\"og:url\" content=\"https://www.babypips.com/news\"\
        \ /><meta property=\"og:title\" content=\"Forex Market News - BabyPips.com\"\
        \ /><meta property=\"og:description\" co[...]
