interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fxempire.com/news/forex-news?page=1
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\" data-reactroot=\"\"><head><meta\
        \ charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1\"/><link rel=\"manifest\" href=\"/manifest.json\"/><meta\
        \ name=\"theme-color\" content=\"#00303f\"/><link rel=\"search\" type=\"application/opensearchdescription+xml\"\
        \ href=\"/opensearch.xml\" title=\"FXEMPIRE\"/><script type=\"application/ld+json\"\
        >{\"@context\":\"http://schema.org\",\"@type\":\"BreadcrumbList\",\"itemListElement\"\
        :[{\"@type\":\"ListItem\",\"position\":1,\"item\":{\"@id\":\"https://www.fxempire.com\"\
        ,\"name\":\"FX Empire\"}},{\"@type\":\"ListItem\",\"position\":2,\"item\"\
        :{\"@id\":\"https://www.fxempire.com/news\",\"name\":\"Financial News\"}},{\"\
        @type\":\"ListItem\",\"position\":3,\"item\":{\"@id\":\"https://www.fxempire.com/news/forex-news\"\
        ,\"name\":\"Forex News\"}}],\"@graph\":[{\"@context\":\"http://schema.org\"\
        ,\"@type\":\"WebSite\",\"name\":\"FX Empire\",\"alternateName\":\"fxempire\"\
        ,\"url\":\"https://www.fxempire.com\"},{\"@context\":\"http://schema.org\"\
        ,\"@type\":\"Organization\",\"name\":\"FX Empire\",\"url\":\"https://www.fxempire.com\"\
        ,\"sameAs\":[\"https://www.youtube.com/user/fxempirecom\",\"https://www.facebook.com/fxempire\"\
        ,\"https://twitter.com/FXEmpirecom\",\"https://www.linkedin.com/company/fxempire-com\"\
        ],\"logo\":{\"@type\":\"ImageObject\",\"url\":\"https://images.fxempire.com/logos/fxempire-logo-amp.png\"\
        ,\"width\":\"178px\",\"height\":\"26px\"}}]}</script><link data-react-helmet=\"\
        true\" rel=\"canonical\" href=\"https://www.fxempire.com/news/forex-news\"\
        /><title data-react-helmet=\"true\">Forex News, Forex Trading News, Latest\
        \ Currency Trading News, Page 1</title><meta data-react-helmet=\"true\" name=\"\
        description\" content=\"Follow in-depth Forex news from the FX Empire&#x27;s\
        \ news desk; providing you with updated market news throughout the day, everyday.\"\
        /><link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&#x27;)\"\
        /><style data-styled=\"\" data-styled-version=\"5.2.1\">.coCsbI{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0\
        \ 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-0.5rem;margin-left:-0.5rem;}/*!sc*/\n\
        data-styled.g2[id=\"sc-gsTCUz\"]{content:\"coCsbI,\"}/*!sc*/\n.gYBFkW{box-sizing:border-box;-webk[...]
