interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.marketbeat.com/instant-alerts/nyse-twtr-a-buy-or-sell-right-now-2021-03/
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"utf-8\"
        /><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" /><meta name=\"viewport\"
        content=\"width=device-width, height=device-height, initial-scale=1.0\" /><title>\r\n\tError
        404: Page Not Found\r\n</title>\n<style type=\"text/css\">\r\n        @import
        url(https://fonts.googleapis.com/css?family=Oswald:500|Prata|Yantramanav:400,700,900&display=swap);/*!
        normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([[...]
