interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/WTRH?period1=-631159200&period2=1607433045&interval=1d&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"WTRH","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1471527000,"regularMarketTime":1637701202,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":1.01,"chartPreviousClose":9.7,"priceHint":4,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1637744400,"end":1637764200,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1637764200,"end":1637787600,"gmtoffset":-18000},"post":{"timezone":"EST","start":1637787600,"end":1637802000,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1471527000,1471613400,1471872600,1471959000,1472045400,1472131800,1472218200,1472477400,1472563800,1472650200,1472736600,1472823000,1473168600,1473255000,1473341400,1473427800,1473687000,1473773400,1473859800,1473946200,1474032600,1474291800,1474378200,1474464600,1474551000,1474637400,1474896600,1474983000,1475069400,1475155800,1475242200,1475501400,1475587800,1475674200,1475760600,1475847000,1476106200,1476192600,1476279000,1476365400,1476451800,1476711000,1476797400,1476883800,1476970200,1477[...]
